.filter {
    padding: 12px;
    position: relative;

    :global(.ui-tabs-header) {
        padding: 0 !important;
        gap: 0 !important;
        justify-content: space-between !important;
    }

    :global(.swiper-slide) {
        padding: 0 !important;
    }

    :global(.ui-tabs-header-label) {
        font-size: 14px;
        font-weight: 500;
    }

    h2 {
        color: #222;
        font-size: 14px;
        font-weight: 500;
    }

    .tab {
        margin-top: 8px;
    }

    .list {
        max-height: 400px;
        overflow-y: auto;

        h3 {
            margin: 8px 0;
            color: #222;
            font-weight: 500;
            font-size: 12px;
            width: 100%;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8px;

            .item {
                border-radius: 6px;
                border: 1px #bfbfbf solid;
                text-align: center;
                line-height: 32px;
                font-size: 14px;
                color: #8d8d8d;
                font-weight: 500;
            }

            .selected {
                color: #4489ff;
                background-color: #e6effe;
                border-color: #4489ff;
            }
        }
    }

    .tool {
        display: flex;
        margin-top: 12px;

        .functionButton {
            display: flex;
            gap: 8px;
            flex: 1;

            .button {
                border-radius: 30px;
                border: 1px #4489ff solid;
                color: #4489ff;
                padding: 6px 12px;
                background-color: #fff;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .counter {
            flex: 1;
            font-size: 12px;
            font-weight: 500;
            color: #8d8d8d;
            line-height: 34px;
            text-align: center;

            .blue {
                color: #4489ff;
            }
        }

        .confirm {
            flex: 1;
            color: #fff;
            background-color: #4489ff;
            line-height: 34px;
            border-radius: 30px;
            text-align: center;
            width: 100%;
        }

        .disabled {
            background-color: #a3c5ff;
        }
    }
}

.filterButton {
    color: #4489ff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
