.filter {
    padding-top: 16px;
    position: relative;

    :global(.ui-tabs-header) {
        padding: 0 !important;
        gap: 0 !important;
        justify-content: space-between !important;
    }

    :global(.ui-slick-nav) {
        padding: 14px 16px 2px;
    }

    :global(.ui-slick-tabs-container) {
        padding: 0;
    }

    h2 {
        padding: 0 16px;
        color: #222;
        font-size: 14px;
        font-weight: 500;
    }

    .list {
        overflow-y: auto;
        padding: 4px 16px 8px;

        h3 {
            margin: 8px 0 6px;
            color: #222;
            font-weight: 500;
            font-size: 12px;
            width: 100%;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8px;

            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 32px;
                padding: 6px 4px;
                border-radius: 6px;
                background-color: #f3f3f3;
                text-align: center;
                font-size: 14px;
                color: #8d8d8d;
                font-weight: 500;
                word-wrap: break-word;
                border: 1px solid #f3f3f3;
            }

            .selected {
                color: #4489ff;
                background-color: #e6effe;
                border: 1px solid #4489ff;
            }
        }
    }

    .optionBar {
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 32px;
        border-top: 1px solid #f3f3f3;

        .option {
            height: 26px;
            line-height: 26px;
            padding: 0 12px;
            color: #8d8d8d;
            font-size: 14px;
            font-weight: 500;

            &.selected {
                color: #4489ff;
            }
        }
    }

    .tool {
        display: flex;
        padding: 16px;
        align-items: center;
        border-top: 1px solid #f3f3f3;

        .functionButton {
            display: flex;
            gap: 8px;
            flex: 1;

            .button {
                border-radius: 30px;
                border: 1px #4489ff solid;
                color: #4489ff;
                padding: 0 12px;
                background-color: #fff;
                font-size: 14px;
                font-weight: 500;
                height: 28px;
            }
        }

        .counter {
            flex: 1;
            font-size: 12px;
            font-weight: 500;
            color: #8d8d8d;
            line-height: 28px;
            text-align: center;

            .blue {
                color: #4489ff;
            }
        }

        .confirm {
            flex: 1;
            color: #fff;
            background-color: #4489ff;
            line-height: 28px;
            border-radius: 30px;
            text-align: center;
            width: 100%;
            height: 28px;
            font-size: 14px;
        }

        .disabled {
            background-color: #a3c5ff;
        }
    }
}

.filterButton {
    color: #4489ff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4px;
    font-weight: 600;
    line-height: normal;

    .filterIcon {
        width: 20px;
        height: 20px;
    }
}
