.unlockButton {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
    width: fit-content;
    background: #fff;
    color: #4489ff;
    padding: 4px 12px 4px 8px;
    border: 1px solid #4489ff;
    border-radius: 30px;
}
