.unlockButton {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
    word-break: keep-all;
    width: fit-content;
    background: #fff;
    color: #4489ff;
    padding: 6px 12px;
    border: 1px solid #4489ff;
    border-radius: 30px;
}
