.handicapTips {
    position: relative;
    width: 100%;
    padding: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;

    .flag {
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        right: 12px;
        top: 12px;
        color: #f85640;
        display: inline-flex;
        align-items: center;
        gap: 2px;

        .image {
            width: 10px;
            height: 12px;
        }
    }
}

.tagContainer {
    display: flex;
    gap: 4px;
    margin-bottom: 6px;
}

.matchup {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;

    span:first-child {
        color: #276ce1;
    }
}

.result {
    display: flex;
    justify-content: space-between;

    .comment {
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;

        .team {
            margin-right: 8px;
        }
    }

    .button {
        background: #fff;
        color: #4489ff;
        padding: 4px 12px;
        border: 1px solid #4489ff;
        border-radius: 30px;
    }
}
