.tradeItem {
    display: flex;
    background: #fff;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.center {
    flex-grow: 1;

    .title {
        font-size: 14px;
        color: #4489ff;
        margin-bottom: 4px;
    }

    .content {
        font-size: 12px;
        width: 100%;
        color: #8d8d8d;
        margin-bottom: 4px;
    }

    .content:last-child {
        margin-bottom: 0;
    }
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .money {
        font-size: 14px;
        font-weight: 500;
        color: #4489ff;
    }

    .grey {
        color: #8d8d8d;
    }

    .result {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: #8d8d8d;

        .status,
        .overage {
            text-align: right;
        }
    }
}

.inProgress {
    color: #fbb03b;
}

.completed {
    color: #009a63;
}

.fail {
    color: #f85640;
}
