@import 'variables';

.gameCard {
    padding: 12px;
    border-bottom: 1px solid #f3f3f3;

    &:nth-last-child(1) {
        border-bottom: none;
    }

    .topArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;

        .left {
            display: flex;
            line-height: 16px;
            width: 112px;
            align-items: center;

            .league {
                color: #f85640;
                font-size: 12px;
                font-weight: 600;
                margin-right: 12px;
                word-break: keep-all;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .time {
                color: #8d8d8d;
                font-size: 12px;
                font-weight: 500;
            }
        }

        .mid {
            display: flex;
            align-items: center;

            .status {
                color: $score;
                background-color: #f3f3f3;
                border-radius: 4px;
                padding: 2px 6px;
                font-weight: 500;
                margin: 0 16px;
            }
        }

        .video {
            width: 112px;

            .videoIcon {
                width: 18px;
                height: auto;
                float: right;
            }
        }
    }

    .teamInfo {
        display: flex;
        color: #222;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 6px;

        .team {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .cards {
                display: flex;
                justify-content: space-between;
                color: #fff;
                font-size: 12px;

                .card {
                    border-radius: 2px;
                    padding: 0 2px;
                    min-width: 14px;
                    text-align: center;
                }

                .redCard {
                    background-color: $score;
                    margin-right: 6px;
                }

                .yellowCard {
                    background-color: $tip;
                }
            }
        }

        .homeTeam {
            text-align: right;
        }

        .score {
            color: $score;
            letter-spacing: 2px;
            width: 72px;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
    }

    .oddsInfo {
        display: flex;
        margin-bottom: 6px;
        font-weight: 500;
        color: $text-secondary;
        justify-content: center;
        align-items: center;

        .left {
            justify-content: end;
        }

        .mid {
            text-align: center;
            justify-content: center;
            width: 64px;

            .halfScore {
                font-size: 12px;
            }
        }

        .odd {
            display: flex;
            flex: 1;
        }

        p {
            margin: 0 2px;
        }
    }

    .animateLine {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .holder {
            flex: 1;
            height: 20px;
        }

        .corner {
            color: #8d8d8d;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            padding: 0 8px;
        }

        .bg {
            height: 20px;
            padding: 2px;
            font-size: 0;
            display: flex;
            align-items: center;

            .goal {
                font-size: 12px;
                color: #fff;
            }
        }

        .homeAnimate {
            text-align: right;
            background: linear-gradient(270deg, #ed3a45 50%, rgb(237 58 69 / 0%) 94.53%);
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            justify-content: flex-end;
            animation: move-to-right 1s forwards;

            img {
                display: inline;
                animation: spin 1s linear infinite;
            }
        }

        .awayAnimate {
            background: linear-gradient(90deg, #ed3a45 50%, rgb(237 58 69 / 0%) 94.53%);
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            animation: move-to-left 1s forwards;

            img {
                display: inline;
                margin-right: 4px;
                animation: spin 1s linear infinite;
            }
        }
    }

    .extraInfo {
        background-color: #f3f3f3;
        border-radius: 8px;
        padding: 4px;
        text-align: center;
        width: 100%;
        color: $text-secondary;
        font-weight: 600;
        font-size: 14px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes move-to-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes move-to-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
