.setting {
    padding: 12px;
}

:global(.MuiPaper-elevation) {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

h2 {
    color: #222;
    font-size: 14px;
    font-weight: 500;
}

.item {
    margin-top: 8px;
    font-size: 14px;
    color: #4a4a4a;
}
