.gameCard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 24px;

    .detail {
        display: flex;
        gap: 6px;

        .avatarLink {
            height: 40px;
        }

        .details {
            display: block;

            > span {
                color: #222;
                margin-right: 4px;
                font-size: 14px;
                font-weight: 500;
            }

            .tagsContainer {
                display: flex;
                flex-wrap: wrap;
                margin-top: 4px;
            }

            .league {
                color: #4a4a4a;
                margin-top: 8px;
                font-size: 14px;
                font-weight: 400;
            }

            .ballList {
                display: flex;
                align-items: center;
                gap: 6px;
                margin-top: 8px;

                li {
                    line-height: 0;
                }
            }

            :global(.baseTag) {
                margin-right: 4px;
            }
        }
    }

    .paid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 70px;
        height: 72px;

        .play {
            color: #8d8d8d;
            font-size: 14px;
            text-align: center;
        }

        .hit {
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            flex-direction: column;
            gap: 4px;
            height: 100%;

            .play {
                width: 100%;
            }
        }

        .paidContent {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background: #f3f3f3;
            border-radius: 30px;
            margin-top: 4px;

            .play {
                color: #f85640;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                text-align: center;
            }
        }

        .noPaid {
            line-height: 14px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            padding: 4px 8px;
            border: 1px solid #4489ff;
            border-radius: 30px;
            margin-bottom: 9px;

            .text {
                color: #4489ff;
                font-size: 14px;
                font-weight: 500;
                word-break: keep-all;
            }
        }
    }
}
