.masterPlan {
    height: calc(100vh - 387px);
    margin-top: -20px;
    padding: 12px;
    border-radius: 16px 16px 0 0;
    background: #fff;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #222;
            font-size: 18px;
            font-weight: 600;
            gap: 6px;
        }
    }

    .analyze {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .column {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .button {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 500;
                color: #000;
                padding: 14px;
                border-radius: 4px;
                border: 1px solid rgba(255 255 255 / 60%);
                background: rgba(255 255 255 / 20%);
                gap: 2px;

                span {
                    font-size: 14px;
                    color: #4a4a4a;
                    font-weight: 500;
                }
            }

            .progress {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                gap: 6px;
                padding: 0 8px;

                .play {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    color: #000;
                    font-size: 12px;
                }
            }
        }
    }
}
