.tab {
    width: 100%;
    max-width: 100%;
    height: 100%;

    &.center {
        justify-content: center;
    }

    &.spaceBetween {
        justify-content: space-between;
    }

    &.spaceAround {
        justify-content: space-around;
    }

    :global(.swiper) {
        :global(.swiper-slide) {
            padding: 10px;
            box-sizing: border-box;
        }

        :global(.swiper-wrapper) {
            transition-timing-function: cubic-bezier(0.22, 0.94, 0.19, 0.88) !important;
        }
    }

    .tabHeader {
        position: relative;

        .tabsHeader {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 8px 8px 0;

            a {
                cursor: none;
            }

            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                gap: 6px;

                .tabsHeaderIcon {
                    display: flex;
                    align-items: center;
                }
            }

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            &.scrolling {
                overflow-y: scroll;
                white-space: nowrap;
                flex-wrap: nowrap;

                > div {
                    flex: none;
                }
            }

            &.center {
                justify-content: center;
            }

            &.spaceBetween {
                justify-content: space-between;
            }

            &.spaceAround {
                justify-content: space-around;
            }

            &.spaceEvenly {
                justify-content: space-evenly;
            }

            &.flexStart {
                justify-content: flex-start;
            }

            &.flexEnd {
                justify-content: flex-end;
            }

            .text {
                font-family: 'PingFang TC';
                font-style: normal;
                font-weight: 600;
                opacity: 0.4;
                transition: opacity 1.5s cubic-bezier(0.22, 0.94, 0.19, 0.88);

                &.active {
                    opacity: 1;
                }
            }

            .underline {
                padding-bottom: 8px;
                color: #9b9b9b;

                &.active {
                    color: #4489ff;
                }
            }

            .button {
                position: relative;
                padding: 12px 24px;
                text-align: center;
                color: #9b9b9b;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    transform: translate(-50%, -50%) scaleX(0.32);
                    transition-duration: 0.2s;
                    transition-property: all;
                    transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
                    border: 1px solid #4489ff;
                    background: #edf3ff;
                    opacity: 0;
                    z-index: -1;
                }

                &.active {
                    position: relative;
                    color: #4489ff;
                    z-index: 1;

                    &::before {
                        transform: translate(-50%, -50%) scaleX(1);
                        opacity: 1;
                    }
                }
            }
        }

        .tabHeaderLiner {
            display: block;
            background: #4489ff;
            left: 0;
            height: 3px;
            position: absolute;
            bottom: 0;

            &.firstClassName {
                transition:
                    left 0.3s 0.2s ease-in-out,
                    right 0.3s 0.1s ease-in-out;
            }

            &.secondClassName {
                transition:
                    left 0.3s 0.1s ease-in-out,
                    right 0.3s 0.2s ease-in-out;
            }
        }
    }

    .tabContainer {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        opacity: 1;
        transition: opacity 0.1s linear;

        &.fade {
            opacity: 0.98;
        }
    }
}

@for $i from 1 through 50 {
    .radius#{$i} {
        &::before {
            border-radius: #{$i}px;
        }
    }
}

// 展示storybook使用的
.tabContentForTest {
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
