.infoTabs {
    margin-top: -30px;
    padding: 12px 0 0;
    border-radius: 16px 16px 0 0;
    background: #fff;

    :global(.ui-tab) {
        padding: 0 12px;

        :global(.ui-tab-header) {
            :global(.ui-tabs-header) {
                padding: 8px 0 0;
                border-bottom: 1px solid #d9d9d9;

                :global(.ui-button) {
                    color: #8d8d8d;
                    font-weight: 500;
                }

                :global(.ui-active) {
                    color: #4489ff;
                }
            }

            :global(.ui-tab-header-liner) {
                bottom: -1px;
            }
        }

        :global(.ui-tab-container) {
            height: calc(100vh - 251px);
            overflow: auto;
            padding: 0;
        }
    }

    .tabContest {
        margin-top: 20px;

        .title {
            margin-bottom: 10px;
        }

        .recentGames {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.detailContainer {
    flex-grow: 1;
    margin-left: 12px;
}

.detailBlock {
    font-size: 12px;
    font-weight: 500;
    box-sizing: border-box;
    color: #4a4a4a;
    padding: 4px 8px;
    border-radius: 8px;
    margin-bottom: 4px;

    .top,
    .bot {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top {
        margin-bottom: 2px;
    }

    .bot {
        gap: 4px;

        :global(.ui-progressBar) {
            flex-grow: 1;
        }
    }
}

.percentage {
    display: flex;
    gap: 4px;

    .win {
        color: #ed3a45;
    }

    .walk {
        color: #8d8d8d;
    }
}

.focusDetail {
    background: #f3f3f3;
    border: 1px solid #4489ff;
}
