.demoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    background: #1c1c1d;
    color: #fff;
    padding: 10px 26px;
    border: 1px solid #ffffff1a;
    border-radius: 50px;
}
