.teamMatchHistoryCompared {
    width: 100%;
    margin-top: 20px;

    .option {
        margin: 16px 0 12px;
        display: flex;
        align-items: center;
        column-gap: 12px;
    }

    .full {
        flex: 1;
        text-align: right;
    }

    .teamInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .team {
            display: flex;
            align-items: center;
            column-gap: 8px;
            margin: 8px 0 12px;
        }

        .teamName {
            font-size: 12px;
        }
    }

    .comparedProgress {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-bottom: 24px;

        .progressCard {
            display: flex;
            flex-direction: column;
            row-gap: 12px;

            .topBar {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title {
                    font-size: 12px;
                }

                .value {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .progressBar {
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 4px;

                .homeProgressBar {
                    transform: rotateY(180deg);
                    flex: 1;

                    .homeProgress {
                        background-color: #f3f3f3;
                        border-radius: 2px;

                        :global .MuiLinearProgress-bar {
                            background-color: #276ce1;
                            border-radius: 2px;
                        }
                    }
                }

                .awayProgressBar {
                    flex: 1;

                    .awayProgress {
                        background-color: #f3f3f3;
                        border-radius: 2px;

                        :global .MuiLinearProgress-bar {
                            background-color: #bfbfbf;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }

    .pointChart {
        display: flex;
        flex-direction: column;
        row-gap: 18px;

        .pointCard {
            display: flex;
            flex-direction: column;
            row-gap: 12px;

            .pointTop {
                display: flex;
                align-items: center;

                .title {
                    font-size: 14px;
                }

                .subTitle {
                    color: #8d8d8d;
                    font-size: 12px;
                }
            }

            .pointBar {
                width: 100%;
                height: 12px;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 1px;
                    background-color: #f3f3f3;
                    z-index: -1;
                }

                .point {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;

                    &.win,
                    &.over {
                        background-color: #ff4343;
                    }

                    &.push,
                    &.draw {
                        background-color: #9fc2ff;
                    }

                    &.lose,
                    &.under {
                        background-color: #d9d9d9;
                    }
                }
            }
        }
    }
}
