.tradeDetail {
    width: 100%;
    height: calc(100vh - 54px);
    background: #f8f8f8;
    padding: 12px 12px 0;
    margin-top: -14px;
}

.selectBlock {
    padding: 12px 0;
    display: flex;
    gap: 8px;

    .filterButton {
        min-width: 112px;
        height: 28px;
        padding: 4px 8px;
        font-size: 14px;
        color: #4489ff;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #4489ff;
        border-radius: 8px;
        gap: 4px;

        img {
            width: 16px;
            height: 16px;
        }
    }
}

.listEnd {
    text-align: center;

    p {
        color: rgb(169 170 171);
        font-size: 12px;
        padding: 16px 0;
    }
}

.loadMore {
    display: flex;
    justify-content: center;
}
