.masterRank {
    overflow: auto;
    touch-action: pan-y;
    height: calc(100dvh - 164px);
    padding: 12px;

    .control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;

        .right {
            display: flex;
            align-items: center;
            gap: 16px;

            .search {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 14px;
                font-weight: 500;
                color: #4489ff;

                :global(.tabler-icon-search) {
                    transform: scaleX(-1);
                }
            }
        }
    }

    .userHotStreak {
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        .background {
            position: absolute;
        }

        .ranking {
            position: relative;
            font-size: 14px;
            width: fit-content;
            padding: 0 12px;
            border-radius: 0 3px 10px 0;
            background: #e00d0d;
            color: #fff;

            span {
                margin-left: 6px;
                font-size: 12px;
            }
        }

        .container {
            position: relative;
            display: flex;
            padding: 8px 12px 12px;
        }
    }

    :global(.tab) {
        :global(.header) {
            :global(.tabs) {
                padding: 0 12px;
            }
        }
    }
}

.avatarContainer {
    margin-right: 12px;
}

.content {
    color: #fff;

    .name {
        font-size: 14px;
        font-weight: 400;
    }

    .streak {
        font-size: 14px;
        font-weight: 400;
        display: flex;
        gap: 12px;

        .streakIcon {
            width: 8px;
            height: auto;
            margin-right: 4px;
        }
    }
}
