.discSelect {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin: 11px 6px;

    .items {
        width: 100%;

        .title {
            display: block;
            font-size: 16px;
            font-weight: 600;
            color: #222;
            margin-bottom: 8px;
        }

        .select {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 12px;
            background: transparent;
            border: 1px solid #d9d9d9;
            border-radius: 8px;
            font-size: 14px;
            gap: 6px;

            .selectTitle {
                color: #757575;
                margin-right: 10px;
                font-weight: 400;
            }

            .selectItem {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                flex: 1;
                padding: 4px;
                text-align: center;
                color: #757575;
                background: #f3f3f3;
                border-radius: 8px;
            }
        }
    }

    .tips {
        font-size: 12px;
        color: #8d8d8d;
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        margin: auto;
        min-width: 240px;
        height: 44px;
        border-radius: 50px;
        border: none;
        color: #fff;
        background: #4489ff;

        img {
            margin-top: 3px;
        }
    }
}
