.main {
    position: relative;
    z-index: 1000;
    border-radius: 16px 16px 0 0;
    background: #fff;
    margin-top: -104px;
    height: calc(100vh - 410px);
    overflow: auto;
    z-index: 5;

    :global(.ui-tab) {
        :global(.ui-tab-header) {
            :global(.ui-tabs-header) {
                :global(.ui-button) {
                    flex: 1;
                    padding: 6px 24px;

                    :global(.ui-tabs-header-label) {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
