.container {
    padding: 0 12px;

    .skeletonLayout {
        margin: auto;
        padding-bottom: 12px;
        margin-bottom: 16px;
        width: 100%;
        border-bottom: 1px solid #f3f3f3;

        .top {
            display: flex;
            width: 100%;
        }

        .title {
            width: 100%;
        }
    }
}
