.comparedTeamBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    .team {
        display: flex;
        align-items: center;
        column-gap: 8px;
        margin: 8px 0 12px;
    }

    .teamName {
        font-size: 15px;
        font-weight: 500;
    }

    .away > .teamName {
        text-align: right;
    }
}
