.comparedLineProgress {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 16px;

    .progressCard {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        .topBar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                font-size: 12px;
            }

            .value {
                flex: 1;
                font-size: 16px;
                font-weight: 500;

                &:last-of-type {
                    text-align: right;
                }
            }
        }

        .progressBar {
            width: 100%;
            display: flex;
            align-items: center;
            column-gap: 4px;

            .homeProgressBar {
                transform: rotateY(180deg);
                flex: 1;

                .homeProgress {
                    background-color: #f3f3f3;
                    border-radius: 2px;

                    :global .MuiLinearProgress-bar {
                        background-color: #276ce1;
                        border-radius: 2px;
                    }
                }
            }

            .awayProgressBar {
                flex: 1;

                .awayProgress {
                    background-color: #f3f3f3;
                    border-radius: 2px;

                    :global .MuiLinearProgress-bar {
                        background-color: #bfbfbf;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}
