.dashboard {
    border-radius: 16px 16px 0 0;
    margin-top: -24px;
    padding: 12px 0;
    background: #fff;

    :global(.ui-tab) {
        :global(.ui-tab-header) {
            :global(.ui-tabs-header) {
                padding: 8px 12px 0;

                :global(.ui-button) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 104px;
                    padding: 6px 12px;

                    :global(.ui-tabs-header-label) {
                        font-size: 14px;
                    }
                }
            }
        }

        :global(.swiper) {
            :global(.swiper-wrapper) {
                :global(.swiper-slide) {
                    padding: 0;
                }
            }
        }
    }

    :global {
        .ui-loading {
            height: calc(100vh - 166px);
        }
    }
}

.analysisResult {
    position: relative;

    .tutorialBlock {
        position: absolute;
        top: 0;
        z-index: 2;
        left: 0;
        right: 0;
    }

    .resultPage {
        .bigDataGame {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-top: -12px;
            padding: 0 16px 36px;
            background: linear-gradient(to right, #194fa8 0%, #3981fa 100%);

            .column {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;

                .row {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 4px;

                    .title {
                        font-size: 12px;
                        color: #fff;
                        font-weight: 400;
                    }

                    .name,
                    .date {
                        color: #fff;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.tutorial {
    .slide {
        .images {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            padding: 50px 30px 0px 30px;
        }

        .centerImage {
            padding-top: 127px;
        }
    }

    .tutorialTop {
        position: relative;

        .highlightImage {
            position: absolute;
            left: 0;
            top: 74px;
        }

        .handicapAnimation {
            animation:
                handicapExpandAnimation 0.8s forwards,
                dropTopShadowFadeOut 2s forwards;
        }
        .minutesAnimation {
            animation:
                minutesExpandAnimation 0.6s forwards,
                dropTopShadowFadeOut 2s forwards;
        }
        .rangeAnimation {
            animation:
                rangeExpandAnimation 0.6s forwards,
                dropTopShadowFadeOut 2s forwards;
        }
        .bodanAnimation {
            animation:
                bodanExpandAnimation 0.8s forwards,
                dropTopShadowFadeOut 2s forwards;
        }
    }

    .tutorialBottom {
        position: relative;

        .highlightImage {
            position: absolute;
            left: 0;
        }

        .hightlightAnimation {
            animation: dropBottomShadowFadeOut 2s forwards;
            animation-delay: 0.8s;
        }
    }

    .bottomButton {
        text-align: center;
        font-size: 14px;
        color: #8d8d8d;
    }

    :global {
        .swiper-pagination-bullet {
            background-color: #ffffff33;
        }
        .swiper-pagination-bullet-active {
            background-color: #fff;
        }
    }
}

.dialogContent {
    width: 100%;
    color: #222;
    font-size: 14px;
    line-height: normal;

    .text {
        text-align: center;
    }

    .dialogMessage {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        p {
            width: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #9b9b9b;
        }

        .refund {
            color: #f85640;
        }
    }

    .detail {
        text-align: center;
        margin-top: 16px;
        color: #8d8d8d;
    }

    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 24px;

        > div {
            flex: 1;
            font-size: 14px;
            font-weight: 500;
            padding: 5px 20px;
            border-radius: 50px;
            text-align: center;

            a {
                color: #4489ff;
            }
        }

        .close {
            color: #4489ff;
            border: 1px solid #4489ff;
            width: 100%;
        }

        .confirm {
            color: #4489ff;
        }
    }
}

@keyframes dropTopShadowFadeOut {
    0%,
    60% {
        filter: drop-shadow(0px 0px 17px rgba(255, 255, 255, 0.6));
    }
    100% {
        filter: none;
    }
}

@keyframes dropBottomShadowFadeOut {
    0%,
    60% {
        box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: none;
    }
}

@keyframes handicapExpandAnimation {
    0% {
        width: 10px;
        height: 10px;
    }
    100% {
        width: 66px;
        height: 277px;
    }
}
@keyframes minutesExpandAnimation {
    0% {
        width: 66px;
        height: 180px;
    }
    100% {
        width: 134px;
        height: 160px;
    }
}
@keyframes rangeExpandAnimation {
    0% {
        width: 134px;
        height: 160px;
    }
    100% {
        width: 227px;
        height: 199px;
    }
}
@keyframes bodanExpandAnimation {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 130px;
        height: 35px;
    }
}
