.filter {
    background: #fff;
}

.block {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
}

.filterButton {
    user-select: none;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    background: transparent;
    padding: 0;
    border: 0;

    span {
        font-size: 14px;
        font-weight: 600;
        color: #4489ff;
    }
}
