.content {
    position: relative;
    height: calc(100dvh - 214px);
    width: 100%;
    overflow-y: auto;
    touch-action: pan-y;
}

.loadingBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 220px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes blinktype {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }

    100% {
        border-color: transparent;
    }
}
