.liveEvent {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
    min-height: calc(100dvh - 60vw - 107px);
    border: 1px solid #f3f3f3;
    border-radius: 12px;
    padding: 8px;

    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    :global {
        .ui-no-data {
            min-height: calc(100dvh - 60vw - 249px);
        }

        .ui-no-data-content {
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.list {
    padding: 10px 0;
    border-bottom: 1px solid #f3f3f3;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;
        color: #8d8d8d;
        font-size: 12px;
        font-weight: 500;

        .situation {
            .score {
                color: #cc141d;
                margin: 0 2px;
            }
        }
    }

    .content {
        font-size: 14px;
        background-color: #e6effe;
        color: #222;
        padding: 6px;

        .time {
            color: #4489ff;
            margin-right: 4px;
        }
    }

    &:nth-child(2n) {
        .content {
            background-color: #f3f3f3;
        }
    }

    &:last-child {
        border-bottom: none;
    }
}
