.baseBanner {
    font-size: 0;

    .banner {
        border-radius: 8px;
        width: calc(100% - 24px);
        aspect-ratio: 366 / 61;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}
