.profile {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .icon {
        color: transparent;
        margin-right: -12px;
        z-index: 1;
    }

    .totalNumber {
        width: 66px;
        height: 20px;
        border-radius: 0 4px 4px 0;
        background: #1d4179;
        color: #fff;
        font-size: 11px;
        font-weight: 500;
        padding: 2px 8px 2px 16px;
        white-space: nowrap;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: #222;
        }
    }

    .loginButton {
        font-size: 11px;
        padding: 0;
    }
}

.vipProfile {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .icon {
        color: transparent;
        position: absolute;
        left: 10px;
        z-index: 100;
    }

    .totalNumber {
        min-width: 84px;
        height: 22px;
        border-radius: 4px;
        background: linear-gradient(to right, #ffffff 0%, #d2d2d2 100%);
        border: 2px solid #c0c0c0;
        color: #222;
        font-size: 11px;
        transform: scale(0.9167);
        font-weight: 500;
        padding: 2px 8px 2px 26px;
        white-space: nowrap;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .vipBalance {
            background: linear-gradient(104deg, #9a9a9a -16.25%, #413823 100%, #2d2d2d 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .loginButton {
        font-size: 11px;
        padding: 0;
    }
}
