.profile {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .icon {
        color: transparent;
        margin-right: -12px;
        z-index: 1;
    }

    .totalNumber {
        width: 66px;
        height: 20px;
        border-radius: 0 4px 4px 0;
        background: rgb(255 255 255 / 80%);
        color: #222;
        font-size: 11px;
        transform: scale(0.9167);
        font-weight: 500;
        padding: 2px 8px 2px 16px;
        white-space: nowrap;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loginButton {
        font-size: 11px;
        padding: 0;
    }
}
