.gameEvent {
    :global {
        .dataTable {
            .tableHead {
                background-color: #f3f3f3;
                border-color: #f3f3f3;
                padding: 4px 0;

                .tr {
                    .th {
                        font-size: 13px;
                        font-weight: 500;

                        &.icon {
                            flex: initial;
                            padding: 0;
                        }

                        &.left {
                            justify-content: flex-start;
                            padding-left: 10px;
                        }

                        &.right {
                            justify-content: flex-end;
                            padding-right: 10px;
                        }
                    }
                }
            }

            .tableBody {
                width: 100%;

                .tr {
                    .td {
                        background-color: #fff;
                        flex-direction: column;
                        width: 100%;

                        .timeLine {
                            width: 100%;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 50%;
                                bottom: 0;
                                width: 1px;
                                background-color: #e6effe;
                                transform: translateX(-50%);
                                z-index: 0;
                            }

                            .timeEvent {
                                width: 100%;
                                position: relative;
                                display: flex;
                                align-items: center;
                                margin-bottom: 10px;
                                z-index: 1;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                .time {
                                    width: 36px;
                                    height: 36px;
                                    margin: 0 6px;
                                    background-color: #e6effe;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50%;
                                }

                                .right,
                                .left {
                                    display: flex;
                                    align-items: center;
                                    flex: 1;
                                    column-gap: 2px;
                                }

                                .left {
                                    justify-content: flex-end;
                                    text-align: right;
                                }

                                .right {
                                    flex-direction: row-reverse;
                                    justify-content: flex-end;
                                }

                                .swapPlayer {
                                    display: flex;
                                    flex-direction: column;

                                    .name {
                                        font-size: 12px;
                                        font-weight: 500;

                                        &:last-child {
                                            color: #f85640;
                                        }
                                    }
                                }
                            }
                        }

                        .caption {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            column-gap: 4px;
                            row-gap: 10px;

                            .info {
                                display: flex;
                                align-items: center;
                                min-width: 66px;

                                .label {
                                    margin-left: 2px;
                                    color: #4a4a4a;
                                    font-size: 12px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }

                    &:last-child {
                        .td {
                            background-color: #f3f3f3;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}
