.handicap,
.totalGoals {
    :global {
        .topBar {
            margin-bottom: 10px;

            & > * {
                flex: 1;

                &:last-child {
                    justify-content: flex-end;
                }
            }
        }

        .tableHead {
            .th {
                &:nth-child(3),
                &:nth-child(4) {
                    flex: 4;
                }
            }
        }

        .tableBody {
            .tr {
                .td {
                    &:nth-child(3),
                    &:nth-child(4) {
                        justify-content: space-between;
                        flex: 4;

                        p {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }

    .arrowColumn {
        display: flex;
        align-items: center;
    }
}
