.tutorial {
    background: rgba(0, 0, 0, 0.8);

    .slide {
        .images {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 56px;
            padding: 128px 30px 0;
        }
    }

    .tutorialTop {
        position: relative;
        display: flex;
        justify-content: left;
        width: 100%;
        flex-direction: column;
    }

    .tutorialBottom {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .bottomButton {
        text-align: center;
        font-size: 14px;
        color: #8d8d8d;
        opacity: 0.8;
        position: absolute;
        bottom: 26px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }

    .animation {
        animation: dropShadowFadeOut 2s forwards;
    }

    .bottomAnimation {
        animation: dropShadowFadeOut 2s forwards;
        animation-delay: 2s;
    }

    :global {
        .swiper-pagination-bullet {
            background-color: #fff3;
        }

        .swiper-pagination-bullet-active {
            background-color: #fff;
        }

        .swiper-pagination-horizontal {
            bottom: 56px;
        }

        .navigation-prev {
            all: unset;
            z-index: 3;
            left: 122px;
            bottom: 84px;
            position: absolute;
        }

        .navigation-next {
            all: unset;
            z-index: 3;
            right: 122px;
            bottom: 84px;
            position: absolute;
        }
    }
}

@keyframes dropShadowFadeOut {
    0%,
    60% {
        box-shadow: 0 0 17px 0 rgb(255 255 255 / 60%);
    }

    100% {
        box-shadow: none;
    }
}
