.tutorial {
    background: rgba(0, 0, 0, 0.8);

    .slide {
        .images {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 56px;
            padding: 128px 30px 0;
        }

        // .centerImage {
        // padding-top: 127px;
        // }
    }

    .tutorialTop {
        position: relative;
        display: flex;
        justify-content: left;
        width: 100%;
        flex-direction: column;

        .highlightImage {
            // position: absolute;
            // left: 0;
            // top: 40px;
        }

        .handicapAnimation {
            animation:
                handicapExpandAnimation 0.8s forwards,
                dropTopShadowFadeOut 2s forwards;
        }

        .minutesAnimation {
            animation:
                minutesExpandAnimation 0.6s forwards,
                dropTopShadowFadeOut 2s forwards;
        }

        .bodanAnimation {
            animation:
                bodanExpandAnimation 0.8s forwards,
                dropTopShadowFadeOut 2s forwards;
        }
    }

    .tutorialBottom {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;

        .highlightImage {
            position: absolute;
            left: 0;
        }

        .hightlightAnimation {
            animation: dropBottomShadowFadeOut 2s forwards;
            animation-delay: 0.8s;
        }
    }

    .bottomButton {
        text-align: center;
        font-size: 14px;
        color: #8d8d8d;
        opacity: 0.8;
        position: absolute;
        bottom: 26px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }

    :global {
        .swiper-pagination-bullet {
            background-color: #fff3;
        }

        .swiper-pagination-bullet-active {
            background-color: #fff;
        }

        .swiper-pagination-horizontal {
            bottom: 56px;
        }

        .navigation-prev {
            all: unset;
            z-index: 3;
            left: 122px;
            bottom: 84px;
            position: absolute;
        }

        .navigation-next {
            all: unset;
            z-index: 3;
            right: 122px;
            bottom: 84px;
            position: absolute;
        }
    }
}
