.layout {
    background: linear-gradient(91deg, #003c9f 0.72%, #2575fc 98.56%);

    .masterAvatarLayout {
        .masterAvatar {
            padding: 8px 0 0;
            border-radius: 16px 16px 0 0;
            background: #fff;
        }
    }
}
