@import 'variables';

.placeholder {
    width: 100%;
    height: 68px;
    background: linear-gradient(to right, #2c5eb2 0%, #3a82fb 100%);

    .headerDetail {
        position: relative;
        width: 100%;
        height: 54px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            display: flex;
            gap: 4px;
            align-items: center;

            .text {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: #fff;
                font-size: 14px;
            }

            .publish {
                position: absolute;
                right: 16px;
                color: #fff;
                padding: 4px 12px;
                border: 1px solid #fff;
                border-radius: 30px;
                background: transparent;
            }
        }
    }
}

.main {
    height: calc(100dvh - 54px);
    margin-top: -14px;
    padding: 12px;
    overflow: auto;
    background: #fff;
    border-radius: 16px 16px 0 0;

    .skeletonBox {
        border-bottom: 1px solid #f3f3f3;
        margin-bottom: 16px;

        .user {
            display: flex;
            justify-content: space-between;

            .userInfo {
                margin: 0 12px 0 10px;
                flex-grow: 1;
            }
        }
    }

    :global .ui-tab {
        .ui-tab-header {
            .ui-tabs-header {
                padding: 8px 0 0;
                border-bottom: 1px solid #d9d9d9;

                .ui-button {
                    flex: 1;
                    padding: 6px 24px;
                    text-align: center;

                    .ui-tabs-header-label {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }

            .ui-tab-header-liner {
                bottom: -1px;
                border-radius: 10px;
            }
        }

        .swiper {
            .swiper-wrapper {
                .swiper-slide {
                    padding: 10px 0;
                }
            }
        }
    }
}
