@import 'variables';

.layout {
    height: calc(100dvh - 54px);
    margin-top: -14px;
    padding: 16px 20px;
    background: #f8f8f8;
    overflow: auto;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        margin-bottom: 16px;
        color: #222;
        font-size: 16px;
    }

    .planContainer {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;

        .wrapper {
            padding: 12px 0;

            .plan {
                position: relative;
                z-index: 10;
                flex-grow: 1;
                width: 82px;
                background: #fff;
                color: #d9d9d9;
                padding-top: 24px;
                border: 1px solid #fff;
                border-radius: 8px;
                transition: 0.3s;

                .discount {
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    padding: 1px 6px;
                    font-size: 12px;
                    color: #fff;
                    background: linear-gradient(105deg, #c9b386 0.97%, #8d6b29 100%);
                    border-radius: 2px;

                    &.newGuy {
                        background: linear-gradient(105deg, #ff5a36 0.97%, #f85640 100%);
                    }
                }

                .text {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 70px;
                    font-size: 12px;
                    color: #4a4a4a;
                    text-align: center;
                    white-space: nowrap;

                    .bold {
                        font-weight: bold;
                        font-size: 12px;
                        padding: 0;
                    }

                    .light {
                        font-size: 12px;
                        font-weight: 400;
                        padding: 0;
                        margin-left: 2px;
                    }

                    > span {
                        font-size: 16px;
                        display: inline-block;
                        margin-right: 2px;
                    }
                }

                .intro {
                    font-size: 10px;
                    color: #8d8d8d;
                    text-align: center;
                }

                .selectedFlag {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    margin: 12px auto;
                    width: 58px;
                    font-size: 12px;
                    color: #4489ff;
                    border: 1px solid #4489ff;
                    border-radius: 50px;
                    background: transparent;
                    transition: all 0.3s ease;
                }
            }

            .selectedPlan {
                background: #e6effe;
                color: #4489ff;
                border: 1px solid #4489ff;

                .text {
                    color: #4489ff;
                }

                .selectedFlag {
                    color: #fff;
                    background: #4489ff;
                    border-color: #4489ff;

                    span {
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .recharge {
        padding-top: 8px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
                position: relative;

                .item {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 24px;
                    color: #222;
                    padding: 24px;
                    font-size: 14px;
                    background: #fff;
                    border: 1px solid #fff;
                    border-radius: 8px;
                    user-select: none;
                    cursor: none;

                    &.active {
                        border: 1px solid #4489ff;
                    }
                }
            }
        }

        .submit {
            width: 100%;
            display: block;
            color: #fff;
            padding: 10px 12px;
            border: 0;
            background: #4489ff;
            border-radius: 50px;
            margin-top: 30px;
        }

        .agreement {
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            padding: 6px;
            margin: 16px 0;

            .protocol {
                color: #4489ff;
                margin-left: 4px;
            }
        }
    }
}

.dialogContent {
    font-size: 14px;
    padding: 0 14px 14px;
    overflow: scroll;
}

.dialogTitle {
    font-weight: 800;
    padding: 8px 14px;
}
