.tabList {
    :global(.ui-tab) {
        height: 330px;

        :global(.ui-tab-header) {
            padding-bottom: 0;

            :global(.ui-tabs-header) {
                display: flex;
                height: 36px;
                padding: 6px 20px;
                justify-content: center;
                align-items: center;
                gap: 6px;
                flex: 1 0 0;
            }

            :global(.ui-tab-header-liner) {
                border-radius: 10px;
            }
        }
    }
}
