.gameTitle {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 4px;
    font-weight: 600;
    color: #4489ff;

    .leagueName {
        display: inline-block;
        min-width: 60px;
        margin-right: 6px;
    }

    .time {
        color: #8d8d8d;
    }
}

.gameCard {
    display: flex;
    justify-content: space-between;
    padding: 0 4px;

    .right {
        display: flex;
        align-items: flex-end;

        .dataInfo {
            font-size: 12px;
            border-right: 1px solid #f3f3f3;
            margin-top: 16px;

            .odds {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 500;
                font-size: 12px;
                width: 102px;
                padding: 2px 0;
                margin-left: auto;

                > div {
                    color: #4a4a4a;
                }

                > p {
                    text-align: right;
                    padding-right: 12px;
                    width: 40px;
                    color: #4a4a4a;
                }
            }
        }

        .playerPredict {
            color: #4489ff;
            margin-left: 12px;

            .aiTitle {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
            }

            .text {
                font-size: 12px;
                font-weight: 500;
                text-wrap: nowrap;
                color: #4489ff;
                padding: 2px 0;
            }

            .people {
                font-size: 12px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2px 0;
            }
        }
    }

    .left {
        .team {
            font-size: 14px;
            font-weight: 500;
            color: #222;
            margin-top: 16px;

            .homeTeamName {
                display: flex;
                align-items: center;

                img {
                    margin-right: 4px;
                }
            }

            .awayTeamName {
                display: flex;
                align-items: center;
                margin-top: 4px;

                img {
                    margin-right: 4px;
                }
            }
        }
    }
}

.line {
    flex-grow: 1;
    border: 0;
    border-bottom: 1px solid #f3f3f3;
    margin: 12px 0;
}
