.leagueRankTables {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leagueRankTable {
    :global {
        .tableBody {
            .tr {
                .td {
                    width: 28px;

                    &:nth-last-child(-n + 3) {
                        width: 40px;
                    }
                }

                &:first-child {
                    white-space: nowrap;
                    .td {
                        &:first-child {
                            white-space: nowrap;
                        }

                        border-right: 0;
                    }
                }
            }
        }
    }

    .highlight {
        color: #f85640 !important;
    }
}
