.handicap {
    padding: 0 12px 12px;

    .control {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;

        .left {
            width: 130px;
        }
    }

    .eChat {
        padding: 8px 12px;
        border: 2px solid #f3f3f3;
        border-radius: 12px;
        position: relative;

        .blurCover {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            width: 100px;
            height: 210px;
            background: linear-gradient(273deg, #fff 13.83%, rgba(255, 255, 255, 0) 91.58%);
        }

        :global {
            .switch {
                width: 174px;
                border: 0;
                gap: 8px;

                span:not(.active) {
                    border-radius: 30px;
                    border: 1px solid #9b9b9b;
                    color: #9b9b9b;
                }

                .active {
                    color: #4489ff;
                    border-radius: 30px;
                    border: 1px solid #4489ff;
                    background: #edf3ff;
                }

                .indicator {
                    display: none;
                }
            }
        }

        .dateRange {
            color: #bfbfbf;
            font-size: 12px;
            font-weight: 600;
            padding-bottom: 8px;
        }

        ul {
            display: flex;
            align-items: center;
            overflow-y: scroll;

            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2px;
                min-height: 170px;
                text-align: center;

                .bar {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2px;
                    max-width: 48px;
                    height: 141px;
                    background: #fff;
                    transform: scaleY(0);
                    transform-origin: center;
                    animation: expandAnimation 0.3s forwards;
                    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    overflow: hidden;

                    .top {
                        background: #1782ff;
                    }

                    .middle {
                        background: #d9d9d9;
                    }

                    .bottom {
                        background: #00ac6e;
                    }
                }

                .text {
                    color: #8d8d8d;
                    font-size: 11px;
                    font-weight: 400;
                    white-space: nowrap;
                }

                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        .bar {
                            animation-delay: 0.15s + ($i * 0.05s);
                        }
                    }
                }
            }
        }

        .eChartBottom {
            display: flex;
            justify-content: space-between;
            height: 30px;
            align-items: center;
            margin-top: 8px;
        }
    }

    .dot {
        display: flex;
        justify-content: flex-end;
        gap: 25px;
        padding: 12px 0;

        span {
            position: relative;
            font-size: 12px;
            font-weight: 600;

            &::before {
                content: '';
                position: absolute;
                left: -13px;
                top: 4px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }

        .top {
            color: #1782ff;

            &::before {
                background: #1782ff;
            }
        }
        .middle {
            color: #8d8d8d;

            &::before {
                background: #8d8d8d;
            }
        }
        .bottom {
            color: #00ac6e;

            &::before {
                background: #00ac6e;
            }
        }

        .moneyLineBottom {
            color: #6357f0;

            &::before {
                background: #6357f0;
            }
        }
    }
}

.tableContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    .header {
        background-color: #d9d9d9;
        padding: 8px;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
    }

    .cell {
        padding: 10px;
        color: #4489ff;
        background-color: #fdfdf8;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;

        span {
            display: table;
            margin: auto;
            border-bottom: 1px solid #4489ff;
            padding-bottom: 2px;
        }

        &.odd {
            background: #f3f3f3;
        }

        &:not(:last-child) {
            border-bottom: none;
        }
    }
}

@keyframes expandAnimation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
