.information {
    width: 100%;
    min-height: calc(100dvh - 60vw - 107px);
    border: 1px solid #f3f3f3;
    border-radius: 12px;
    padding: 8px;

    .content {
        margin-top: 8px;
    }

    .list {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        .title {
            display: flex;
            align-items: center;
            padding-top: 10px;
            font-size: 16px;
            font-weight: 500;
            color: #4489ff;

            .dot {
                background-color: #4489ff;
                width: 8px;
                height: 8px;
                margin: 0 8px;
                border-radius: 2px;
            }
        }

        .info {
            display: flex;
            padding: 8px 0 8px 8px;
            column-gap: 8px;

            .dot {
                background-color: #4489ff;
                width: 6px;
                height: 6px;
                margin: 8px;
                border-radius: 2px;
            }

            .text {
                width: calc(100% - 22px);
                color: #4a4a4a;
                font-size: 14px;
                font-weight: 500;
            }
        }

        &.good {
            .title {
                color: #e95e6b;

                .dot {
                    background-color: #e95e6b;
                }
            }

            .info {
                .dot {
                    background-color: #e95e6b;
                }
            }
        }

        &.bed {
            .title {
                color: #4a4a4a;

                .dot {
                    background-color: #4a4a4a;
                }
            }

            .info {
                .dot {
                    background-color: #4a4a4a;
                }
            }
        }
    }
}
