.searchRecord {
    padding: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    margin-bottom: 6px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8d8d8d;
    margin-bottom: 12px;

    .record {
        font-size: 16px;
        font-weight: 600;
    }

    .time {
        font-size: 12px;
        padding: 0 8px;
    }
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {
        font-size: 14px;

        .item {
            color: #4a4a4a;
            margin-bottom: 4px;

            span {
                color: #4489ff;
            }
        }
    }
}

.buttonContainer {
    font-size: 14px;
    font-weight: 500;

    .button {
        background: #fff;
        color: #4489ff;
        padding: 4px 12px;
        border: 1px solid #4489ff;
        border-radius: 30px;

        a {
            color: #4489ff;
        }
    }

    .loadingButton {
        background: #f3f3f3;
        color: #4489ff;
        padding: 4px 12px;
        border: 0;
        border-radius: 30px;
    }
}
