.main {
    position: relative;
    z-index: 1000;
    border-radius: 16px 16px 0 0;
    background: #fff;
    margin-top: -60px;
    height: calc(100vh - 410px);
    overflow: auto;
    z-index: 5;

    :global .ui-tab {
        .ui-tab-header {
            .ui-tabs-header {
                .ui-button {
                    flex: 1;
                    padding: 6px 24px;

                    .ui-tabs-header-label {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.bg {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin-top: -70px;
    padding: 0 24px 24px;
    background: linear-gradient(to right, #2d5fb3 0%, #3a82fa 100%);

    > img {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    .record {
        display: flex;
        align-items: center;
        position: absolute;
        top: -33px;
        right: 24px;
        font-size: 12px;
        color: #fff;
    }
}
