.bigDataGame {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: -12px;
    padding: 8px 16px 36px;
    background: #e6effe;

    .column {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;

        .row {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 4px;

            .title {
                font-size: 12px;
                color: #8d8d8d;
            }

            .name,
            .date {
                color: #4489ff;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
}

.bigDataTab {
    border-radius: 12px 12px 0 0;
    background-color: #fff;
    margin-top: -12px;
}
