.vsBox {
    padding: 16px 12px 45px;
    width: 100%;

    .title {
        display: table;
        margin: auto;
        color: #fff;
        font-size: 12px;
    }

    .clubInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3px 21px 12px;

        .team {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 84px;
            height: 96px;
            text-align: center;
            gap: 8px;

            .name {
                color: #fff;
                font-size: 14px;
            }
        }

        .fight {
            color: rgba(255 255 255 / 60%);
            font-family: Staatliches, sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.8px;
        }
    }

    .join {
        display: block;
        text-align: center;
        padding: 10px 0;

        .text {
            position: relative;
            color: rgba(255 255 255 / 60%);
            font-size: 12px;
            font-weight: 400;
            text-align: center;
        }
    }

    .betting {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .column {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .button {
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                padding: 15px 23px;
                border-radius: 8px;
                border: 1px solid rgba(255 255 255 / 60%);
            }

            .progress {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                gap: 6px;
                padding: 0 8px;

                .play {
                    color: #fff;
                    font-size: 14px;
                }

                .line {
                    width: 100%;
                    height: 8px;
                    border-radius: 24px;
                    background: rgba(255 255 255 / 15%);
                }
            }

            .unLock {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;

                .button {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 64px;
                    height: 54px;
                    padding: 0;

                    .user {
                        font-size: 12px;
                        font-weight: 400;
                    }

                    > img {
                        position: absolute;
                        right: -1px;
                        bottom: -1px;
                    }
                }

                .noSelect {
                    background: #fff3;
                    border-color: transparent;
                }

                .progress {
                    .play {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .home {
                            color: rgba(255 255 255 / 80%);
                            font-size: 12px;
                            font-weight: 600;
                        }

                        .ing {
                            color: rgba(255 255 255 / 80%);
                            font-size: 14px;
                        }

                        .away {
                            color: rgba(255 255 255 / 80%);
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }

                    :global(.ui-progressBar) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
