.aiPredictPageLayout {
    background: linear-gradient(91deg, #003c9f 0.72%, #2575fc 98.56%);
}

.aiPredict {
    background: #fff;
    border-radius: 16px 16px 0 0;
    height: calc(100dvh - 164px);
}
