.recordCard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0;

    .detail {
        display: flex;
        gap: 12px;

        .avatar {
            height: 44px;
            border: 2px solid #fff;
            overflow: hidden;
            border-radius: 32px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        }

        .details {
            display: block;

            .nameRow {
                display: flex;

                > span {
                    color: #222;
                    margin-right: 4px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .league {
                color: #4a4a4a;
                margin-top: 4px;
                font-size: 14px;
                font-weight: 400;
                height: 20px;
                line-height: 20px;
            }

            .ballList {
                display: flex;
                align-items: center;
                gap: 2px;
                margin-top: 8px;

                li {
                    line-height: 0;
                }
            }
        }
    }

    .paid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 70px;
        height: 72px;

        .hit {
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            flex-direction: column;
            gap: 4px;
            height: 100%;
        }

        .play {
            color: #8d8d8d;
            font-size: 14px;
            text-align: center;
        }

        .paidContent {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background: #f3f3f3;
            border-radius: 30px;
            margin-top: 4px;

            .win {
                color: #f85640;
            }
        }
    }
}
