.queryForm {
    height: calc(100dvh - 254px);
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    padding: 12px 12px 0;

    .formContent {
        .formSelect {
            padding: 12px;
            border-radius: 8px;
            background: #f6f6f6;
        }
    }
}
