.queryForm {
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    padding: 12px 12px 0;

    .formContent {
        .formSelect {
            padding: 12px;
            border-radius: 8px;
            background: #f6f6f6;
        }
    }

    .submit {
        padding: 12px 14px;

        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            margin: auto;
            min-width: 240px;
            height: 44px;
            font-size: 14px;
            border-radius: 50px;
            border: none;
            color: #fff;
            background: #4489ff;

            svg {
                margin-top: 3px;
            }
        }
    }
}
