.guessBar {
    width: 100%;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    column-gap: 32px;
    background-color: #0a0a0a;
    height: 46px;

    .box {
        width: 50%;
        display: flex;
        align-items: center;
        column-gap: 6px;
        height: 100%;

        .team {
            width: 36px;
            height: 34px;
            background: rgb(255 255 255 / 20%);
            color: #fff;
            text-align: center;
            font-size: 12px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .percentage {
                line-height: 14px;
            }
        }

        .selected {
            border: 1px solid #fff;
        }

        .middle {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .lable {
                text-align: center;
                color: #fff;
                font-size: 11px;
                padding-top: 4px;
            }

            .lineBar {
                width: 100%;
                height: 5px;
                background: rgb(255 255 255 / 15%);
                border-radius: 8px;
                margin-bottom: 2px;
            }
        }
    }

    :global(.notification_slideTransition__position__VE9II) {
        left: 0;
    }
}
