.header {
    position: relative;
    padding: 16px 12px 30px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

    &.headerFixed {
        height: 46px;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: #0a0a0a;
        transition: all 0.3s ease-in-out;
        padding: 0 12px;
        z-index: 2;

        &.show {
            opacity: 1;
        }
    }

    .scoreBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 16px;

        .score {
            color: #fff;
            font-size: 16px;
            font-weight: 600;
        }

        .logo {
            width: 24px;
            height: 24px;
        }
    }

    .scoreboard {
        height: 20px;
        width: 72px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 500;

        .league {
            position: absolute;
            bottom: -30px;
            background-color: rgb(0 0 0 / 50%);
            padding: 4px 12px;
            font-size: 11px;
            line-height: normal;
            font-weight: 500;
            white-space: nowrap;
            border-radius: 24px;
        }

        .createTime {
            font-size: 12px;
            font-weight: 500;
            line-height: normal;
        }
    }

    .gameTime {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 6px;
        font-size: 12px;
        font-weight: 500;
        color: white;
        background-color: blue;
        border-radius: 2px;
    }

    .back {
        height: 24px;
        flex: 1;
        text-align: left;
    }

    .optionHolder {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
    }

    .option {
        height: 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #ffffff40;
        padding: 0 8px;
        border-radius: 16px;
        column-gap: 8px;

        .live {
            display: flex;
            align-items: center;
            padding-left: 4px;
            column-gap: 4px;

            .liveAnimate {
                width: 4px;
                height: 4px;
                background-color: #e2ebff;
                border-radius: 50%;
                animation: flashing 1.5s linear infinite;
            }

            .liveIcon {
                height: 10px;
            }
        }

        .video {
            display: flex;
            align-items: center;
            column-gap: 4px;
            color: white;
            font-size: 11px;
            font-weight: 400;

            .videoText {
                white-space: nowrap;
            }
        }

        .line {
            background-color: #ffffff4d;
            width: 1px;
            height: 14px;
            border-radius: 2px;
        }

        .share {
            display: flex;
            align-items: center;
        }
    }

    .notYet {
        background-color: #9b9b9b;
    }

    .finish {
        background-color: #fd9a00;
    }

    .playOff {
        background-color: red;
    }

    .placeholder {
        width: calc(100% - 36px);
    }

    .imageHolder {
        width: 24px;
        height: 24px;
    }
}

@keyframes flashing {
    0% {
        box-shadow: initial;
        background-color: #e2ebff;
    }

    50% {
        box-shadow: 0 0 1px 1px #4489ff;
        background-color: #4489ff;
    }

    100% {
        box-shadow: initial;
        background-color: #e2ebff;
    }
}
