.liveBox {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    aspect-ratio: 390 / 234;
}

.scoreboard {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;

    .gameInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 18px 18px 0;

        .team {
            width: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 0;

            .circleBg {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 66px;
                height: 66px;
                margin-bottom: 8px;
            }

            .teamName {
                height: 40px;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .liveScore {
            letter-spacing: -7px;
            font-size: 46px;
            font-family: Vazirmatn, sans-serif;
            font-weight: 800;
        }

        .score {
            display: flex;
            align-items: flex-start;

            .all {
                font-size: 28px;
                font-weight: 400;
                font-family: Impact, sans-serif;

                span {
                    margin: 0 6px;
                }
            }
        }
    }

    .gameStatus {
        width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

        .textHolder {
            height: 20px;
            width: 100%;
            text-align: center;
            margin-top: 12px;

            .text {
                font-size: 14px;
                font-weight: 500;
            }
        }

        .vsText {
            font-size: 32px;
            font-weight: 500;
            font-family: Vazirmatn, sans-serif;
            line-height: normal;
            margin-top: -20px;
        }
    }

    .gameScore {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        .gameTime {
            .timePoint {
                animation-name: timepoint;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }

            @keyframes timepoint {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }

        .homeScore {
            width: 48px;
            color: #fff;
            position: absolute;
            top: 10px;
            left: -16vw;
            transform: translateY(-50%);
            text-align: center;
            font-size: 46px;
            font-weight: 800;
        }

        .awayScore {
            width: 48px;
            color: #fff;
            position: absolute;
            top: 10px;
            right: -16vw;
            transform: translateY(-50%);
            text-align: center;
            font-size: 46px;
            font-weight: 800;
        }
    }

    .placeholder {
        width: calc(100% - 36px);
    }
}

.animateBox {
    animation: fade-in 0.6s forwards;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;

    iframe {
        min-width: 100%;
        min-height: 100%;
    }

    .backIcon {
        position: absolute;
        top: 16px;
        left: 12px;
        z-index: 100;
        width: 24px;
        height: 24px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
