.tabContent {
    width: 100%;

    .slick {
        width: 100%;

        .largeGap {
            padding: 10px;

            &.rimless {
                padding: 0;
            }
        }

        :global {
            .ui-slick-tabs-container {
                padding: 14px 0 6px;
                margin: 0 12px;
                border-bottom: 1px solid #d9d9d9;

                .ui-slick-li {
                    height: 20px;

                    .ui-slick-button {
                        color: #8d8d8d;
                        line-height: 20px;
                        height: 20px;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
