@import 'variables';

.myGuess {
    height: calc(100vh - 54px);
    overflow: auto;
    background: #fff;

    .loaderBox {
        height: 30vh;
        display: flex;
        justify-content: center;
    }

    .echart {
        padding: 12px 12px 20px;
        background: linear-gradient(91deg, #003c9f 0.72%, #2575fc 98.56%);
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .recordList {
        background: #fff;
        padding: 12px;
    }

    .guessTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;

        span {
            font-size: 18px;
            color: #222;
            font-weight: 500;
        }

        .record {
            font-size: 14px;
            font-weight: 400;
            padding: 2px 0;
            color: #4489ff;
        }
    }

    .tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        flex: 1;
        padding: 4px;
        background: rgb(255 255 255 / 15%);
        border-radius: 30px;

        span {
            flex: 1;
            position: relative;
            text-align: center;
            color: #9fc2ff;
            width: 100%;
            height: 36px;
            display: block;
            font-size: 12px;
            line-height: 36px;
            border-radius: 30px;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%) scaleX(0.32);
                transition-duration: 0.2s;
                transition-property: all;
                transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
                background: #e6effe;
                opacity: 0;
                z-index: -1;
                border-radius: 30px;
            }

            &.active {
                position: relative;
                color: #4489ff;
                z-index: 1;

                &::before {
                    transform: translate(-50%, -50%) scaleX(1);
                    opacity: 1;
                }
            }
        }

        .disable {
            color: #e8e6e6;
            border: 1px solid #e8e6e6;
            pointer-events: none;
        }
    }

    .btnTab {
        background: #fff;

        :global(.ui-tab) {
            :global(.ui-tab-header) {
                :global(.ui-tabs-header) {
                    justify-content: flex-start;
                    gap: 8px;
                    background: none;
                    border: none;

                    :global(.ui-button) {
                        font-size: 12px;
                        border-radius: 30px;
                        border: 1px solid #9b9b9b;
                        padding: 6px 13px;
                        max-width: 54px !important;
                        height: 30px;
                        font-weight: 600;

                        :global(.ui-tabs-header-label) {
                            word-break: keep-all;
                        }

                        &::before {
                            display: none;
                        }

                        &:global(.ui-active) {
                            border: 1px solid #4489ff;
                            background: #edf3ff;

                            &::before {
                                transform: none;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            :global(.swiper-slide) {
                padding: 12px !important;
            }
        }
    }

    .tabText {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        margin: 8px 0;

        span {
            border: 1px solid #9b9b9b;
            background-color: #fff;
            color: #9b9b9b;
            height: 36px;
            width: 54px;
            text-align: center;
            line-height: 36px;
            border-radius: 30px;
            font-size: 12px;
        }

        span.active {
            color: #4489ff;
            border: 1px solid #4489ff;
            background-color: #edf3ff;
        }
    }

    .plan {
        margin-top: 8px;
    }

    .recentGames {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 136px;
        margin-top: 12px;
        padding: 8px;
        background: rgb(255 255 255 / 15%);
        border-radius: 12px;
    }

    .detailContainer {
        flex-grow: 1;
        margin-left: 12px;
    }

    .detailBlock {
        font-size: 14px;
        font-weight: 500;
        box-sizing: border-box;
        color: #fff;
        padding: 4px 0;
        border-radius: 8px;
        margin-bottom: 4px;

        .top,
        .bot {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .top {
            margin-bottom: 2px;
        }

        .bot {
            gap: 4px;
        }
    }

    .percentage {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        gap: 4px;
        font-size: 12px;
        color: #fff;
        padding: 2px 8px;
        background: rgb(255 255 255 / 15%);
        border-radius: 4px;

        > div {
            display: flex;
            align-items: center;
            gap: 4px;

            i {
                width: 10px;
                height: 10px;
                border-radius: 2px;
                border: 1px solid #fff;
            }
        }

        .win {
            i {
                background: #ff4343;
            }
        }

        .walk {
            i {
                background: #9fc2ff;
            }
        }

        .defeat {
            i {
                background: #d9d9d9;
            }
        }
    }

    .loadMore {
        text-align: center;
        padding: 8px;
    }

    .listEnd {
        text-align: center;

        p {
            color: #bfbfbf;
            font-size: 12px;
            padding-top: 16px;
        }
    }
}

.placeholder {
    width: 100%;
    height: 54px;
    background: linear-gradient(91deg, #003c9f 0.72%, #2575fc 98.56%);

    .headerDetail {
        position: relative;
        width: 100%;
        height: 54px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            display: flex;
            gap: 4px;
            align-items: center;

            .text {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: #fff;
                font-size: 14px;
            }
        }
    }
}

@media all and (display-mode: fullscreen) {
    .myGuess {
        .loadMore {
            padding: 8px 8px 21px;
        }

        .listEnd {
            p {
                padding-bottom: 38px;
            }
        }
    }
}
