.periodListItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #f3f3f3;
    color: #222;

    &:last-child {
        border-bottom: none;
    }
}

.loadingBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 220px;
}

.rankingFlag {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    width: 24px;
    height: 24px;

    > span {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        color: #688cac;
    }
}

.avatarContainer {
    height: 44px;
    padding: 2px 12px 0 14px;
}

.content {
    align-self: flex-start;
    flex-grow: 1;
}

.name {
    font-size: 14px;
    font-weight: 500;
}

.detail {
    font-size: 14px;
    font-weight: 500;
    color: #8d8d8d;
    display: flex;
    gap: 12px;

    .victory {
        color: #f85640;
    }

    .lose {
        color: #009a63;
    }
}

.winRateBlock {
    font-weight: 700;
    display: inline-flex;
    padding-right: 8px;

    > .icon {
        width: 24px;
        height: 24px;
        margin-right: 4px;
    }

    > .winRate {
        font-size: 20px;
        display: inline-flex;
        align-items: center;
        color: #8d8d8d;

        > .percent {
            font-size: 12px;
        }
    }

    > .redFill {
        color: #ed3a45;
    }

    > .deepGrey {
        color: #4a4a4a;
    }
}
