.table {
    border: 1px solid #f3f3f3;
    border-radius: 6px;
    margin: 16px 12px;
    overflow: hidden;

    .tableHead {
        font-size: 12px;
        background: #f3f3f3;
        color: #4a4a4a;

        .row {
            display: flex;
            align-items: center;
            height: 32px;
            padding: 0 2px;

            .td {
                min-width: 28px;
                width: 10%;
                text-align: center;
            }

            .td:first-child {
                min-width: 90px;
            }
        }
    }

    .tableBody {
        font-size: 12px;
        font-weight: 500;
        color: #222;

        .row {
            display: flex;
            align-items: center;
            height: 38px;
            padding-right: 2px;

            .value {
                min-width: 28px;
                width: 10%;
                text-align: center;
            }

            .value:first-child {
                min-width: 90px;
            }
        }

        .row:nth-child(2n) {
            background: #f3f3f3;
        }
    }
}
