.guessDialog {
    width: 300px;
    padding: 16px;

    .game {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 6px;

        span {
            font-size: 16px;
            color: #4a4a4a;

            &:nth-of-type(2) {
                color: #4489ff;
            }
        }
    }

    .useCount {
        display: block;
        margin: 16px auto 24px;
        font-size: 14px;
        font-weight: 300;
        color: #222;
        text-align: center;

        span {
            color: #4489ff;
        }
    }

    .footer {
        display: flex;
        align-items: center;
        gap: 6px;

        > div {
            flex: 1;
            font-size: 14px;
            font-weight: 500;
            padding: 5px 20px;
            border-radius: 50px;
            text-align: center;
        }

        .close {
            color: #8d8d8d;
            border: 1px solid #bfbfbf;
        }

        .confirm {
            color: #4489ff;
            border: 1px solid #4489ff;
        }
    }
}
