.login {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .phone {
        display: flex;
        width: 100%;
        gap: 6px;
        flex-direction: column;

        .input {
            min-height: 44px;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    .forgotPass {
        color: #fff;
        height: 32px;
        padding: 4px 0 5px;
        white-space: nowrap;
        font-size: 12px;
        font-weight: 500;
    }

    .register {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        padding: 2px 0;
    }

    .footer {
        display: flex;
        gap: 32px;
        white-space: nowrap;
        justify-content: center;

        p {
            font-size: 12px;
            color: #fff;
        }
    }

    .aggrement {
        padding-bottom: 102px;
    }
}

.futureTitle {
    font-size: 30px;
    font-weight: 600;
    font-family: YouSheBiaoTiHei;

    .future {
        background: linear-gradient(91deg, #00ceff 8.31%, #0085ff 114.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
