.login {
    .loginForm {
        padding: 16px 24px 0;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .phone {
            display: flex;
            width: 100%;
            gap: 6px;
            flex-direction: column;

            .input {
                // min-height: 44px;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }

        .errorMessage {
            color: #ffc42d;
            font-size: 10px;
            font-weight: 400;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .agreement {
            padding-bottom: 52px;
        }
    }

    .register {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        padding: 8px 20px;
        margin: 8px 0;
    }

    .footer {
        display: flex;
        gap: 16px;
        white-space: nowrap;
        justify-content: center;
        align-items: center;

        .delimiter {
            width: 1px;
            height: 18px;
            opacity: 0.3;
            background-color: #fff;
        }

        p {
            font-size: 12px;
            font-weight: 500;
            color: #9fc2ff;
        }

        .forgotPass {
            width: initial;
            min-width: initial;
            height: 18px;
            padding: 0;
            color: #9fc2ff;
            white-space: nowrap;
            font-size: 12px;
            font-weight: 500;
        }
    }
}
