.login {
    padding: 24px;

    .forgotPass {
        color: #fff;
        height: 32px;
        padding: 4px 0 5px;
        white-space: nowrap;
        font-size: 12px;
        font-weight: 500;
    }

    .buttons {
        padding: 16px 0;

        .registerButton {
            color: #fff;
            font-size: 14px;
        }
    }

    .footer {
        padding: 15px 0 32px 0;
        display: flex;
        gap: 32px;
        white-space: nowrap;
        justify-content: center;

        p {
            font-size: 12px;
            color: #fff;
        }
    }
}

.futureTitle {
    font-size: 30px;
    font-weight: 600;
    font-family: YouSheBiaoTiHei;

    .future {
        background: linear-gradient(91deg, #00ceff 8.31%, #0085ff 114.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
