.info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px 12px 45px;
    margin-top: -12px;
    background: linear-gradient(to right, #2c5eb2 0%, #3a82fb 100%);

    .detail {
        display: flex;
        justify-content: center;
        gap: 10px;
        position: relative;

        .content {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 4px;

                .name {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    margin-right: 2px;
                }
            }

            .bottom {
                span {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }

    .focused,
    .focus {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        padding: 3px 11px;
        border: 1px solid #fff;
        border-radius: 30px;
        position: absolute;
        right: 16px;
    }

    .focused {
        border-color: transparent;
        background: rgb(255 255 255 / 10%);
    }
}
