.button {
    padding-left: 12px;
}

.article {
    padding-bottom: 12px;
    background: #fff;
}

.loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommendPredict {
    background: #fff;
    height: calc(100dvh - 108px);
    overflow: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .banner {
        width: 100%;
        display: block;
        margin: auto;
        height: 100px;
        padding: 0 12px;
    }

    .toolbar {
        display: inline-block;
        margin-top: 12px;
        padding: 0 12px;
    }
}

.listEnd {
    text-align: center;

    p {
        color: #bfbfbf;
        font-size: 12px;
        padding: 8px 0 18px 0;
    }
}
