.article {
    padding: 12px 0;
    background: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 54px;
    width: 100%;
    height: 100px;
}

.recommendPredict {
    background: #fff;
    height: 100dvh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: -6px;
}

.banner {
    width: 100%;
    height: 60px;
}

.listEnd {
    text-align: center;
    padding: 12px 0 54px 0;
    background: #fff;

    p {
        color: #bfbfbf;
        font-size: 12px;
        padding: 8px 0 18px 0;
    }
}
