.info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -12px;
    padding: 12px 12px 45px;
    background: linear-gradient(to right, #2c5eb2 0%, #3a82fb 100%);

    .detail {
        display: flex;
        justify-content: center;
        gap: 10px;

        .content {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .name {
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                margin-right: 2px;
            }

            .top {
                display: flex;
                gap: 4px;
            }

            .bottom {
                display: flex;
                gap: 4px;

                span {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }

    .focused,
    .focus {
        position: absolute;
        right: 12px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        padding: 3px 11px;
        border: 1px solid #fff;
        border-radius: 30px;
    }

    .focused {
        border-color: transparent;
        background: rgb(255 255 255 / 10%);
    }

    .introduction {
        margin-top: 4px;
        padding: 0 20px;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        max-height: 50px;
        word-break: break-all;
    }
}
