$border-bottom: 1px solid rgb(255 255 255 / 30%);

.codeSelect {
    padding: 0 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-bottom: $border-bottom;
    min-height: 44px;
}

.phoneNumber {
    display: flex;
    align-items: center;
    border-bottom: $border-bottom;
    min-height: 44px;
}

.phoneInput {
    width: 100%;
    padding: 0 6px;
    font-size: 16px;

    ::placeholder {
        color: #e6effe;
        font-weight: 400;
        font-size: 14px;
    }
}

.password {
    display: flex;
    padding: 0 6px;
    gap: 6px;
    align-items: center;
    min-height: 44px;
    border-bottom: $border-bottom;

    .passwordBlock {
        flex: 1;
        display: flex;
        align-items: center;

        .passwordInput {
            font-size: 16px;
            font-weight: 400;
            flex: 1;

            ::placeholder {
                color: #e6effe;
            }
        }
    }
}

.vertifyCodeByImage {
    display: flex;
    padding: 0 6px;
    align-items: center;
    border-bottom: $border-bottom;

    .vertifyCodeBlock {
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 44px;

        .vertifyCodeInput {
            height: 100%;
            width: 146px;

            input {
                width: 146px;
            }

            ::placeholder {
                color: #e6effe;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    .verifyPhoto {
        background-color: #fff;
    }

    .getVertifyCode {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        color: #ffc42d;
        text-align: right;
        font-size: 12px;
        font-weight: 500;
        padding: 0;

        &:global(.Mui-disabled) {
            color: #ffc42d;
            opacity: 0.7;
        }
    }
}

.nickname {
    display: flex;
    padding: 0 6px;
    gap: 6px;
    align-items: center;
    min-height: 44px;
    border-bottom: $border-bottom;

    .nicknameBlock {
        display: flex;
        align-items: center;

        .nicknameInput {
            width: 246px;
            font-size: 16px;

            ::placeholder {
                color: #e6effe;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}

.vertifyCode {
    min-height: 44px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .vertifyCodeBlock {
        min-height: 44px;
        padding: 0 6px;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: $border-bottom;

        .vertifyCodeInput {
            height: 100%;
            width: 146px;
            padding-left: 6px;

            input {
                width: 146px;
                font-size: 16px;
            }

            ::placeholder {
                color: #e6effe;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .getVertifyCode {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            color: #ffc42d;
            text-align: right;
            font-size: 12px;
            font-weight: 500;
            padding: 0;
        }
    }
}

.agreement {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
}

.disableButton:global(.Mui-disabled) {
    opacity: 0.5;
    color: #fff;
    background-color: rgb(255 255 255 / 30%);
}

.ableButton {
    opacity: 1;
    color: #276ce1;
    background-color: #fff !important;
}

.submitButton {
    width: 100%;
    height: 36px;
    padding: 10px 12px;
    border-radius: 50px !important;
}

.errorMessage {
    color: #ffc42d;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6px;
}
