.gameStatus {
    color: #8d8d8d;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
    min-width: 32px;
    text-align: center;

    .playing {
        color: #cc141d;
    }

    .midfielder {
        color: #4489ff;
    }

    .playoff {
        color: #fbb03b;
    }

    .flashing {
        animation: flashing 1.5s linear infinite;
    }
}

@keyframes flashing {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
