.gameStatus {
    color: #8d8d8d;
    border-radius: 4px;

    .playing {
        color: #cc141d;
    }

    .midfielder {
        color: #4489ff;
    }

    .playoff {
        color: #fbb03b;
    }
}
