.gameStatus {
    color: #8d8d8d;
    min-width: 32px;
    text-align: center;

    .notYet {
        color: #8d8d8d;
    }

    .playing {
        color: #ba2830;
    }

    .midfielder {
        color: #ba2830;
    }

    .playoff {
        color: #ffc42d;
    }
}

.flashing {
    animation: flashing 2s linear infinite;
}

@keyframes flashing {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
