.football {
    background-color: #fff;
}

.line {
    background-color: #ededed;
    color: #999;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
}

.loadMore {
    height: 64px;
    text-align: center;
    padding: 8px 0;
}

.noneContest {
    color: #999;
    text-align: center;
    line-height: 48px;
}

.toolbar {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;

    .streamlineBar {
        display: flex;
        align-items: center;
        column-gap: 4px;

        .divider {
            width: 1px;
            height: 8px;
            background-color: #8d8d8d;
            border-radius: 10px;
        }

        .streamlineOption {
            position: relative;
            font-size: 14px;
            font-weight: 500;
            color: #8d8d8d;

            &.active {
                color: #4489ff;
            }
        }
    }

    .optionBar {
        display: flex;
        align-items: center;
        column-gap: 16px;

        .setting {
            display: flex;
            align-items: center;
            font-size: 14px;
            column-gap: 4px;
            font-weight: 600;
            line-height: normal;
            color: #8d8d8d;
        }
    }

    :global {
        .ui-filter-button {
            color: #8d8d8d;
        }

        .ui-filter-button-icon {
            path {
                stroke: #8d8d8d;
            }
        }
    }
}

.banner {
    padding: 0 12px;
    border-top: 1px solid #f3f3f3;
    aspect-ratio: 6 / 1;
    width: 100%;
}

.contestList {
    display: flex;
    flex-direction: column;

    .dividerBar {
        height: 24px;
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #8d8d8d;
        font-size: 12px;
        font-weight: 500;
    }
}

.dateHolder {
    height: 48px;
    border-bottom: 1px solid #f3f3f3;
}

.loading {
    width: 100%;
    text-align: center;
    margin-top: 32px;
}

.scrollEnd {
    padding: 24px 0;
    text-align: center;
    color: #8d8d8d;
    font-size: 12px;
}
