.football {
    background-color: #fff;
}

.line {
    background-color: #ededed;
    color: #999;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
}

.loadMore {
    height: 64px;
    text-align: center;
    padding: 8px 0;
}

.noneContest {
    color: #999;
    text-align: center;
    line-height: 48px;
}

.toolbar {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;

    .setting {
        display: flex;
        align-items: center;
        font-size: 14px;
        column-gap: 4px;
        font-weight: 600;
        line-height: normal;
        color: #4489ff;
    }
}

.banner {
    border-top: 1px solid #f3f3f3;
    aspect-ratio: 6 / 1;
    width: 100%;
}

.contestList {
    display: flex;
    flex-direction: column;
}

.dateHolder {
    height: 56px;
    margin-bottom: 8px;
}

.loading {
    width: 100%;
    text-align: center;
    margin-top: 32px;
}

.scrollEnd {
    padding: 24px 0;
    text-align: center;
    color: #8d8d8d;
    font-size: 12px;
}
