.football {
    background-color: #fff;
    overflow: auto;
    height: calc(100vh - 152px);
    touch-action: pan-y;
}

.line {
    background-color: #ededed;
    color: #999;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
}

.loadMore {
    text-align: center;
    padding: 8px 0;
}

.noneContest {
    color: #999;
    text-align: center;
    line-height: 48px;
}

.banner {
    background-color: #f3f3f3;
    aspect-ratio: 366 / 61;
    width: calc(100% - 24px);
    border-radius: 8px;
    margin: 0 12px;
    font-size: 0;

    img {
        width: 100%;
        height: auto;
    }
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin: 12px 0 8px;

    img {
        width: 16px;
        height: 16px;
    }
}

.dateHolder {
    height: 56px;
    margin-bottom: 8px;
}

.loading {
    width: 100%;
    text-align: center;
    margin-top: 32px;
}
