.tool {
    display: flex;
}

.mr {
    margin-right: 8px;
}

.contestListLayout {
    .main {
        :global(.swiper-slide) {
            padding: 0 !important;
        }
    }
}

.loading {
    margin-top: 48px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
    z-index: 1000;
}
