.tool {
    display: flex;
}

.mr {
    margin-right: 8px;
}

.contestListLayout {
    background-color: #1662e3;

    .main {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: #fff;
        min-height: 180px;

        :global(.swiper-slide) {
            padding: 0 !important;
        }
    }
}

.loading {
    margin-top: 48px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
    z-index: 1000;
}
