.mailInfo {
    width: 100%;
}

.outer {
    height: calc(100dvh - 54px);
    padding: 24px 12px;
    background-color: #f3f3f3;
    overflow: auto;
    touch-action: pan-y;

    .box {
        padding: 12px;
        background-color: #fff;
        color: #4a4a4a;
        border-radius: 16px;
        line-height: normal;

        .rows {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
        }

        .date {
            font-size: 12px;
            font-weight: 400;
        }

        .tag {
            padding: 2px 6px;
            background: linear-gradient(90deg, #4387ff 16.18%, #2173ff 65.95%);
            color: #fff;
            font-size: 12px;
            border-radius: 4px;
        }

        .title {
            margin-bottom: 8px;
            font-size: 24px;
            font-weight: 600;
        }

        .editUser {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 8px;

            .avatar {
                display: flex;
                align-items: center;
                border: 2px solid #fff;
                overflow: hidden;
                border-radius: 32px;
                box-shadow: 0 4px 10px 0 rgb(0 0 0 / 15%);
            }

            .name {
                color: #4a4a4a;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .contentImage {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 100%;
        }

        .content {
            margin-top: 8px;
            margin-bottom: 16px;
            font-size: 16px;
            font-weight: 400;
        }

        .detailButton {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a {
                padding: 4px 12px;
                font-size: 14px;
                font-weight: 500;
                color: #4489ff;
                border: 1px solid #4489ff;
                border-radius: 30px;
            }
        }

        .ctaButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 36px;
            font-size: 14px;
            font-weight: 500;
            color: #4489ff;
            border: 1px solid #4489ff;
            border-radius: 30px;
        }
    }
}

.headerDetail {
    position: relative;
    width: 100vw;
    height: 54px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(91deg, #003c9f 0.72%, #2575fc 98.56%);

    .back {
        cursor: pointer;
    }

    .pageTitle {
        display: flex;
        gap: 4px;
        align-items: center;

        .text {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            font-size: 14px;
        }
    }
}

@media all and (display-mode: fullscreen) {
    .outer {
        height: calc(100dvh - 75px);
    }
}
