@import 'variables';

@font-face {
    font-family: Vazirmatn;
    src: url('./font/Vazirmatn-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: YouSheBiaoTiHei;
    src: url('./font/YouSheBiaoTiHei-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Staatliches;
    src: url('./font/Staatliches-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.rootStyle {
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-family: 'PingFang SC', sans-serif;
    scroll-behavior: smooth;
}

body * ::-webkit-scrollbar {
    display: none;
}

body * {
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    line-height: normal;
}

.MuiSwitch-root {
    width: 52px !important;

    .MuiTouchRipple-root {
        transform: translate(4px, 4px);
    }

    .MuiSwitch-thumb {
        width: 12px;
        height: 12px;
        transform: translate(4px, 4px);
        background: #fff;
    }

    .Mui-checked {
        transform: translateX(14px) !important;
    }

    .Mui-checked + .MuiSwitch-track {
        opacity: 1 !important;
        background-color: #4489ff !important;
    }
}
