// scss-docs-start theme-color-variables
$primary: #4489ff !default;
$text-primary: #fff !default;
$text-secondary: #8d8d8d !default;
$error: #ed3a45 !default;
$score: #ba2830;
$tip: #ffc42d;

// scss-docs-start font-size
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 22px;
$text-3xl: 24px;
$text-4xl: 26px;
