.guessRecord {
    padding: 12px;
    height: 60vh;
    overflow: auto;

    .title {
        color: #8d8d8d;
        font-size: 16px;
    }

    .loaderBox {
        height: 60vh;
        display: flex;
        justify-content: center;
    }

    .loadMore {
        text-align: center;
        padding: 8px 0;
    }

    .listEnd {
        text-align: center;

        p {
            color: #bfbfbf;
            font-size: 12px;
            padding-top: 16px;
        }
    }
}
