.weekButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
    margin-top: 16px;

    > div {
        border: 1px solid #bfbfbf;
        border-radius: 4px;
        color: #8d8d8d;
        font-size: 14px;
        font-weight: 500;
        padding: 2px 10px;
        margin: 0 6px;
    }

    .active {
        color: #4489ff;
        background-color: #e6effe;
        border: 1px solid #4489ff;
    }
}
