@import 'variables';

.placeholder {
    width: 100%;
    height: 68px;
    background: linear-gradient(to right, #2c5eb2 0%, #3a82fb 100%);

    .headerDetail {
        position: relative;
        width: 100%;
        height: 54px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            display: flex;
            gap: 4px;
            align-items: center;

            .text {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: #fff;
                font-size: 14px;
            }
        }
    }
}

.myFans {
    height: calc(100vh - 54px);
    margin-top: -14px;
    padding: 12px;
    overflow: auto;
    background: #fff;
    border-radius: 16px 16px 0 0;

    .search {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;

        input {
            flex: 1;
            padding: 8px;
            font-size: 16px;
            background: #f3f3f3;
            border-radius: 8px;
            border: 1px solid #f3f3f3;

            &:focus {
                border-color: #4489ff;
                outline: none;
            }
        }

        > button {
            flex: 0 0 auto;
            padding: 6px 18px;
            background: #4489ff;
            color: #fff;
            border: none;
            border-radius: 20px;
        }
    }
}
