@import 'variables';

.placeholder {
    width: 100%;
    height: 68px;
    background: linear-gradient(91deg, #003c9f 0.72%, #2575fc 98.56%);

    .headerDetail {
        position: relative;
        width: 100%;
        height: 54px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            display: flex;
            gap: 4px;
            align-items: center;

            .text {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: #fff;
                font-size: 14px;
            }
        }
    }
}

.myFans {
    height: calc(100dvh - 54px);
    margin-top: -14px;
    padding: 12px;
    overflow: auto;
    background: #fff;
    border-radius: 16px 16px 0 0;

    .skeletonBox {
        display: flex;
        border-bottom: 1px solid #d3d0d0;
        margin-bottom: 16px;
        padding-bottom: 24px;
        justify-content: space-between;

        .left {
            display: flex;
            gap: 8px;
        }

        .center {
            height: 56px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        p {
            font-size: 14px;
            color: #757575;
        }
    }

    .search {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;

        input {
            flex: 1;
            padding: 8px;
            font-size: 16px;
            background: #f3f3f3;
            border-radius: 8px;
            border: 1px solid #f3f3f3;

            &:focus {
                border-color: #4489ff;
                outline: none;
            }
        }

        ::placeholder {
            font-size: 14px;
        }
    }
}
