.contestDetail {
    width: 100%;

    :global .ui-tab {
        .swiper {
            height: auto;

            .swiper-wrapper {
                height: auto !important;
            }
        }

        .swiper-slide {
            min-height: calc(100vh - 320px);
        }

        .ui-tab-header {
            .ui-tabs-header {
                padding: 8px 12px 0;

                .ui-button {
                    flex: 1;
                    padding: 6px 10px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: normal;
                    text-align: center;
                    border-bottom: 1px solid #d9d9d9;
                }
            }
        }

        .ui-tab-header-liner {
            bottom: -1px;
            border-radius: 10px;
        }
    }
}
