.dashboard {
    :global .ui-tab {
        .swiper {
            height: auto;
            min-height: calc(100vh - 320px);
        }

        .underline__tab {
            border-bottom: 1px solid #9b9b9b;
        }
    }
}
