.liveBox {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.scoreboard {
    height: calc(100% - 46px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    .gameInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 12px 18px;

        .team {
            width: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 0;

            .circleBg {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 64px;
                height: 64px;
                margin-bottom: 8px;
                background-color: #ffffff40;
                border-radius: 50%;

                img {
                    width: 40px;
                }
            }

            .teamName {
                height: 40px;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .liveScore {
            letter-spacing: -7px;
            font-size: 46px;
            font-family: Vazirmatn, sans-serif;
            font-weight: 800;
        }

        .score {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .all {
                font-size: 28px;
                font-weight: 400;
                font-family: Impact, sans-serif;

                span {
                    margin: 0 6px;
                }
            }

            .half {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    .gameTime {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 6px;
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
    }

    .notYet {
        background-color: #bfbfbf;
        color: #4a4a4a;
    }

    .finish {
        background-color: red;
    }

    .playOff {
        background-color: #fd9a00;
    }

    .placeholder {
        width: calc(100% - 36px);
    }

    .vsText {
        font-size: 32px;
        font-weight: 500;
        font-family: Vazirmatn, sans-serif;
    }

    .imageHolder {
        width: 44px;
        height: 40px;
        margin-bottom: 6px;
    }

    .liveBtn {
        height: 30px;
        background-color: #0008;
        padding: 0 8px;
        color: white;
        font-size: 12px;
        font-weight: 400;
        border-radius: 20px;
        margin-bottom: 24px;

        .icon {
            margin-right: 6px;
        }
    }
}
