.predictCard {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f3f3f3;
    background: #fff;

    .mentor {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        .mentorInfo {
            display: flex;
            gap: 10px;

            .avatarBar {
                display: flex;
                flex-direction: column;

                .mentorName {
                    max-width: 227px;
                    height: 30px;
                    line-height: 30px;
                    color: #222;
                    font-size: 14px;
                    font-weight: 500;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .tag {
                    display: flex;
                    gap: 4px;

                    :global .baseTag {
                        margin-right: 0;

                        span {
                            color: #fff;
                            font-size: 11px;
                            font-weight: 500;
                            transform: scale(0.9167);
                        }
                    }
                }
            }
        }

        .price {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .priceButton {
                width: 70px;
                border-radius: 30px;
                border: 1px solid #4489ff;
                background: #fff;
                display: flex;
                height: 28px;
                padding: 0 12px 0 8px;
                gap: 4px;
                align-items: center;

                .price {
                    display: flex;
                    width: 100%;
                    color: #4489ff;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                    white-space: nowrap;
                }
            }

            .unlockTotal {
                color: #4489ff;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    .title {
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: normal;
    }

    .publishTime {
        color: #8d8d8d;
        font-size: 11px;
        font-weight: 400;
        transform: scale(0.9167);
        margin-left: -16px;
        padding-bottom: 12px;
    }
}

.predictList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
}

.isLast {
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: #8d8d8d;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
