.rank {
    padding: 12px;

    .control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;

        .right {
            display: flex;
            align-items: center;
            gap: 16px;

            .search {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 14px;
                font-weight: 500;
                color: #4489ff;

                :global(.tabler-icon-search) {
                    transform: scaleX(-1);
                }
            }
        }
    }

    :global(.tab) {
        :global(.header) {
            :global(.tabs) {
                padding: 0 12px;
            }
        }
    }
}

.ranking1 {
    background: #ed3a45;
    color: #fff;
}

.ranking2 {
    background: #ff844f;
    color: #fff;
}

.ranking3 {
    background: #ffaf37;
    color: #fff;
}

.ranking4 {
    background: #4489ff;
    color: #fff;
}

.ranking5 {
    background: #979797;
    color: #fff;
}
