.guessLayout {
    background-color: #1662e3;

    .guess {
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        background: #fff;

        :global(.ui-slick-tabs-container) {
            padding-bottom: 10px;
        }
    }
}
