.guessLayout {
    background: linear-gradient(91deg, #003c9f 0.72%, #2575fc 98.56%);

    .guess {
        background: #fff;
    }
}

.guessIndex {
    :global {
        .ui-slick-nav {
            background: linear-gradient(91deg, #003c9f 0.72%, #2575fc 98.56%);
        }

        .ui-slick-tabs-placeholder {
            height: 64px;
        }

        .ui-slick-tabs-container {
            padding: 16px 12px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            background-color: #fff;
        }
    }
}
