.leagueTrendTableContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    :global {
        .tableHead {
            min-height: 32px;
        }

        .tableBody {
            .tr {
                .td {
                    width: 46px;
                }

                &:first-child {
                    .td {
                        color: #8d8d8d;

                        &:first-child {
                            white-space: nowrap;
                        }

                        border-right: 0;
                    }
                }
            }
        }
    }
}
