.leagueRankTables {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .highlight {
        color: #f85640 !important;
    }

    :global {
        .tableHead {
            min-height: 32px;
        }
    }
}

.leagueRankTable {
    :global {
        .tableBody {
            .tr {
                .td {
                    width: 28px;

                    &:nth-last-child(-n + 3) {
                        width: 40px;
                    }
                }

                &:first-child {
                    white-space: nowrap;

                    .td {
                        color: #8d8d8d;

                        &:first-child {
                            white-space: nowrap;
                        }

                        border-right: 0;
                    }
                }
            }
        }
    }

    .teamName {
        color: #4489ff;
    }
}
