.placeholder {
    width: 100%;
    height: 68px;
}

.header,
.headerNoBg {
    width: 100%;
    height: 68px;
    padding: 16px;
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #136aff;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        display: flex;
        gap: 4px;
        align-items: center;

        .text {
            color: #fff;
            font-family: YouSheBiaoTiHei, sans-serif;
            font-size: 22px;
            font-weight: 400;
            line-height: 102%;
            letter-spacing: 1.2px;
        }
    }

    .logo {
        gap: 4px;
        display: flex;
        align-items: center;
        min-width: 96px;

        .icon {
            width: 140px;
            height: 24px;
            display: flex;
            align-items: center;

            .titleText {
                color: #fff;
                font-family: YouSheBiaoTiHei, sans-serif;
                font-size: 22px;
                font-weight: 400;
                line-height: 102%;
                letter-spacing: 1.2px;
            }
        }
    }
}

.headerNoBg {
    background: transparent;
}

.headerDetail {
    position: relative;
    width: 100%;
    height: 54px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #2c5eb2 0%, #3a82fb 100%);

    .title {
        display: flex;
        gap: 4px;
        align-items: center;

        .text {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            font-size: 14px;
        }
    }
}

.userOption {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
