.footerPlaceholder {
    height: 58px;
    width: 100%;

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        z-index: 9;
        flex-direction: column;

        .menuList {
            width: 100%;
            background-color: transparent;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            list-style-type: none;
            padding: 0;
            margin: 0;

            .listItem {
                flex-direction: column;
                width: 100%;
                display: flex;
                align-items: center;
                padding-top: 8px;
                padding-bottom: 8px;
                text-decoration: none;

                .icon {
                    padding-bottom: 2px;
                    max-width: 24px;
                    max-height: 24px;
                }

                .textLabel {
                    font-size: 12px;
                }

                &.actived {
                    animation: FadeEffect 1s;
                }

                &:first-child {
                    padding-left: 16px;
                }

                &:last-child {
                    padding-right: 16px;
                }
            }
        }
    }
}

@keyframes FadeEffect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
