.edit {
    display: flex;
    align-items: center;
    gap: 4px;

    .editBtn:global(.MuiButtonBase-root) {
        padding: 0;
        min-width: initial;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
    }
}
