.noticeLayout {
    background: linear-gradient(91deg, #003c9f 0.72%, #2575fc 98.56%);

    :global {
        .ui-tab-header {
            .ui-tabs-header {
                padding: 12px 12px 0;
            }
        }

        .ui-button {
            padding: 8px 0;
            display: flex;
            justify-content: center;
            flex: 1;
            border-bottom: 1px solid #d9d9d9;
            font-size: 14px;
        }

        .ui-tab-header-liner:global(.ui-tab-header-liner) {
            bottom: -1px;
        }

        .ui-tab-container {
            padding: 12px;
            overflow: auto;
            height: calc(100dvh - 105px);
            touch-action: pan-y;
        }

        .tabContainer {
            overflow-y: auto;
            height: calc(100dvh - 98px);
        }
    }

    .noticeContent {
        background-color: #fff;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
}
