@import 'variables';

.detail {
    padding: 12px;
    color: #4a4a4a;
    font-size: 12px;
    height: calc(100dvh - 54px);
    overflow: auto;

    .zoon {
        margin: 8px 0 16px;
    }

    h2 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .bold {
        font-weight: bold;
    }

    .black {
        color: black;
    }

    .red {
        color: red;
    }

    .dot {
        position: relative;
        padding-left: 16px;
    }

    .dot::after {
        content: '';
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        background-color: black;
        border-radius: 50%;
    }
}

.container {
    background-color: #f3f3f3;
    padding: 12px;
    height: calc(100dvh - 54px);

    .box {
        padding: 12px 12px 0;
        background-color: #fff;
        border-radius: 8px;
        margin-bottom: 12px;

        h2 {
            color: #4a4a4a;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        color: #4a4a4a;
        font-size: 14px;
        border-bottom: 1px solid #f3f3f3;

        &:last-child {
            border-bottom: none;
        }
    }
}
