@import 'variables';

.gameCard {
    border-bottom: 1px solid #f3f3f3;

    .gameCardLink {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding: 16px 12px;
    }

    .topArea {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            line-height: 16px;
            align-items: center;
            flex: 1;

            .league {
                min-width: 60px;
                color: #f85640;
                font-size: 12px;
                font-weight: 600;
                word-break: keep-all;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .time {
                flex: 1;
                color: #8d8d8d;
                font-size: 12px;
                font-weight: 500;
            }
        }

        .mid {
            width: 56px;
            display: flex;
            justify-content: center;
            align-items: center;

            .status {
                flex: 1;
                color: $score;
                border-radius: 4px;
                font-size: 12px;
                font-weight: 500;
            }
        }

        .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex: 1;
            column-gap: 8px;

            .corner {
                display: flex;
                align-items: center;
                flex: 1;
                column-gap: 2px;
                color: #8d8d8d;
                font-size: 12px;
                font-weight: 500;
            }

            .live {
                display: flex;
                align-items: center;
                column-gap: 4px;

                .liveAnimate {
                    width: 4px;
                    height: 4px;
                    background-color: #e2ebff;
                    border-radius: 50%;
                    animation: flashing 1.5s linear infinite;
                }
            }
        }

        .resultBar {
            display: flex;
            justify-items: flex-end;
            align-items: center;
            column-gap: 8px;
            color: #00b976;
            font-size: 12px;
            font-weight: 500;

            &.win {
                color: #e95e6b;
            }
        }
    }

    .teamInfo {
        display: flex;
        color: #222;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 500;

        .team {
            max-width: calc(100% / 2 - 28px);
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 4px;

            .teamName {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .cards {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                color: #fff;
                font-size: 12px;
                column-gap: 2px;
                flex: 1;

                .card {
                    min-width: 10px;
                    height: 12px;
                    border-radius: 2px;
                    text-align: center;
                    font-size: 11px;
                    font-family: Staatliches, sans-serif;
                }

                .redCard {
                    background-color: $score;
                }

                .yellowCard {
                    background-color: $tip;
                }
            }
        }

        .homeTeam {
            text-align: right;
        }

        .awayTeam {
            .cards {
                flex-direction: row-reverse;
            }
        }

        .score {
            width: 56px;
            height: 20px;
            color: #e95e6b;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            font-family: Vazirmatn, sans-serif;

            .noYet {
                color: #8d8d8d;
            }
        }
    }

    .oddsInfo {
        display: flex;
        font-weight: 500;
        color: $text-secondary;
        justify-content: center;
        align-items: center;

        .oddBox {
            width: calc(100% / 2 - 28px);
            display: flex;
            align-items: center;

            .odd {
                display: flex;
                align-items: center;
                flex: 1;
                column-gap: 8px;
                font-size: 14px;
                font-weight: 500;
            }

            &.left {
                .odd {
                    justify-content: flex-end;
                }
            }
        }

        .mid {
            text-align: center;
            justify-content: center;
            width: 56px;

            .halfScore {
                color: #bfbfbf;
                font-size: 12px;
                font-weight: 500;
            }
        }

        .IconHolder {
            width: 20px;
            height: 20px;

            .pinToTop {
                position: relative;
                width: 20px;
                height: 20px;
                background-color: initial;
                border: none;
                padding: 0;
                z-index: 1;

                .pinIcon {
                    transition: fill 0.3s ease;

                    &.active {
                        path {
                            fill: #8d8d8d;
                        }
                    }
                }
            }
        }
    }

    .animateLine {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .midHolder {
            width: 56px;
        }

        .holder {
            flex: 1;
            height: 20px;
            overflow: hidden;
        }

        .bg {
            position: relative;
            height: 20px;
            padding: 2px;
            font-size: 0;
            display: flex;
            align-items: center;
            z-index: 2;

            .goal {
                font-size: 12px;
                color: #fff;
            }
        }

        .homeAnimate {
            text-align: right;
            background: linear-gradient(270deg, #4489ff 50%, rgb(237 58 69 / 0%) 94.53%);
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            justify-content: flex-end;
            transform: translateX(-110%);
            transition: all 1s ease;

            &.active {
                transform: translateX(0);
            }

            img {
                display: inline;
                animation: spin 1s linear infinite;
            }
        }

        .awayAnimate {
            background: linear-gradient(90deg, #4489ff 50%, rgb(237 58 69 / 0%) 94.53%);
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            transform: translateX(110%);
            transition: all 1s ease;

            &.active {
                transform: translateX(0);
            }

            img {
                display: inline;
                margin-right: 4px;
                animation: spin 1s linear infinite;
            }
        }
    }

    .extraInfo {
        background-color: #f3f3f3;
        border-radius: 8px;
        padding: 4px;
        text-align: center;
        width: 100%;
        color: $text-secondary;
        font-weight: 600;
        font-size: 14px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes flashing {
    0% {
        box-shadow: initial;
        background-color: #e2ebff;
    }

    50% {
        box-shadow: 0 0 1px 1px #4489ff;
        background-color: #4489ff;
    }

    100% {
        box-shadow: initial;
        background-color: #e2ebff;
    }
}
