.messageBoard {
    position: relative;
    width: 100%;
    padding-top: 10px;
    height: calc(100dvh - (100vw * 234 / 390) - 87px);

    :global {
        .bfRoomContent {
            height: calc(100% - 64px);
            padding: 2px 10px 8px;
            row-gap: 12px;
            touch-action: pan-y;

            .bfGroupLi {
                margin: 0;
                font-size: 14px;
                font-weight: 500;
                line-height: normal;

                .bfOwn {
                    color: #ba2830;
                }

                .bfOther {
                    color: #4489ff;
                }

                .bfGroupMsgBox {
                    display: flex;
                    align-items: center;
                }

                .bfGroupMessage {
                    font-weight: 400;
                    color: #4a4a4a;
                }
            }
        }

        .bfHolder {
            height: 64px;
        }

        .bfRoomBottom {
            height: 64px;
            padding: 16px;
            background-color: #fff;
            box-shadow: 0 -1px 0 0 #d9d9d9;
            column-gap: 0;
        }

        .bfInput {
            flex: 1;
            height: 32px;
            padding: 6px 10px;
            margin-left: 0;
            background-color: #f3f3f3;
            color: #222;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            &::placeholder {
                color: #222;
                font-size: 14px;
            }
        }

        .bfSmileBtn {
            color: #4a4a4a;
            margin-left: 10px;
            margin-right: 0;
            order: 2;
            display: flex;

            :global(.bfSmile) {
                margin: 0;
            }
        }

        .bfSendBtn {
            display: flex;
            align-items: center;
            padding-right: 10px;
            width: 34px;
            height: 32px;
            background-color: #f3f3f3;
            color: #4a4a4a;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .bfPicture .bfPhoto {
            color: #4a4a4a;
        }
    }
}

.chatSkeleton {
    height: 100%;
    padding: 14px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.noMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;

    .text {
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
        color: #9b9b9b;
    }
}
