.dashboard {
    border-radius: 16px 16px 0 0;
    margin-top: -24px;
    padding: 12px 0;
    background: #fff;

    :global(.ui-tab) {
        :global(.ui-tab-header) {
            :global(.ui-tabs-header) {
                padding: 8px 12px 0;

                :global(.ui-button) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 104px;
                    padding: 6px 12px;

                    :global(.ui-tabs-header-label) {
                        font-size: 14px;
                    }
                }
            }
        }

        :global(.swiper) {
            :global(.swiper-wrapper) {
                :global(.swiper-slide) {
                    padding: 0;
                }
            }
        }
    }
}

.analysisResult {
    position: relative;

    .tutorialBlock {
        position: absolute;
        top: 0;
        z-index: 2;
        left: 0;
        right: 0;
    }

    .resultPage {
        .bigDataGame {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-top: -12px;
            padding: 8px 16px 36px;
            background: linear-gradient(91deg, #003c9f 0.72%, #2575fc 98.56%);

            .column {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 16px;

                .row {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 4px;

                    .title {
                        font-size: 12px;
                        color: #fff;
                        font-weight: 400;
                    }

                    .name,
                    .date {
                        color: #fff;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.tutorial {
    .slide {
        .images {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            padding: 50px 30px 0px 30px;
        }
    }

    .tutorialTop {
        position: relative;

        .highlightImage {
            position: absolute;
            left: 0;
            top: 74px;
            filter: drop-shadow(0px 0px 17px rgba(255, 255, 255, 0.6));
        }
    }

    .tutorialBottom {
        position: relative;

        .highlightImage {
            position: absolute;
            left: 0;
            box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.6);
        }
    }

    .bottomButton {
        text-align: center;
        font-size: 14px;
        color: #8d8d8d;
    }
}
