.tagLayout {
    width: 50px;
    height: 18px;
    border-radius: 4px;
    margin-right: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tagLeft {
        width: 40%;
        height: 16px;
        margin-left: 1px;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .tagRight {
        width: 60%;
        font-size: 11px;
        font-weight: 600;
        color: #065ef1;
        background-color: #f2f7ff;
        margin-right: 1px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        text-align: center;

        .tagNumber {
            padding-left: 2px;
        }
    }
}
