.newMessageAlert {
    margin: 0 auto;
    width: 320px;

    .newMessageBox {
        height: 44px;
        border-radius: 50px;
        background: linear-gradient(88deg, #3074e7 0%, #065ff5 100%);
        box-shadow: 0 8px 12px 0 rgb(0 16 36 / 25%);
        color: #fff;
        line-height: 32px;
        display: flex;
        width: 320px;
        align-items: center;
        font-size: 14px;
        padding: 8px 20px;
        justify-content: space-between;
        gap: 10px;

        :global {
            .MuiBadge-badge {
                height: 16px;
                min-width: 16px;
                padding: 0 4px;
                background-color: #f85640;
            }
        }

        .goSingle {
            color: #9fc2ff;
            font-size: 12px;
            font-weight: 600;
            white-space: nowrap;
        }

        .message {
            display: flex;
            white-space: nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 4px;
            width: calc(100% - 72px);

            .content {
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;
            }
        }
    }
}
