.resultLayout {
    overflow-y: auto;
    height: 100%;
    background: linear-gradient(91deg, #003c9f 0.72%, #2575fc 98.56%);

    .bigDataGame {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 0 16px 16px;

        .column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            .row {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 6px;

                .title {
                    font-size: 12px;
                    color: #fff;
                    font-weight: 400;
                    white-space: nowrap;
                }

                .name,
                .date {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 600;
                }

                .name {
                    display: flex;
                    gap: 6px;
                    flex-wrap: wrap;

                    .tag {
                        color: #fff;
                        border-radius: 16px;
                        background: rgba(255, 255, 255, 0.2);
                        font-size: 12px;
                        font-weight: 600;
                        padding: 2px 6px;
                        gap: 4px;
                        height: 21px;

                        :global {
                            .MuiChip-label {
                                padding: 0;
                            }

                            .MuiSvgIcon-root,
                            .MuiChip-deleteIcon {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
