.predict {
    :global(.tab) {
        :global(.header) {
            padding: 0 12px;

            :global(.tabs) {
                padding: 2px;
                gap: 2px;
                background: #f3f3f3;
                border-radius: 24px;

                :global(.item) {
                    padding: 4px 0;
                    color: #4489ff;

                    &::before {
                        background: #4489ff;
                        border-color: #4489ff;
                    }
                }

                :global(.active) {
                    color: #fff;
                }
            }
        }
    }
}
