.bettingPlan {
    position: relative;
    padding: 0 10px;
    border: 1px solid #dadada;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-top: 12px;
}

.top {
    font-size: 12px;
    font-weight: 500;
    color: #276ce1;
    padding: 16px 0 4px;

    .time {
        color: #9b9b9b;
        padding-left: 4px;
    }
}

.mid {
    display: flex;
    align-items: flex-start;
    gap: 6px;

    .plan {
        font-size: 12px;
        font-weight: 500;
        color: #8d8d8d;
        padding: 2px 4px;
        border-radius: 4px;
        background: #f3f3f3;
        border: 1px solid #bfbfbf;
    }

    .combination {
        font-size: 14px;
        font-weight: 600;
        color: #757575;
    }
}

.bot {
    min-height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;

    .message {
        font-size: 14px;
        font-weight: 500;
        color: #4a4a4a;
        margin-top: 4px;
    }

    .win {
        color: #ed3a45;
    }
}

.iconWin {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 36px;
    height: auto;
}

.iconDefeat {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 36px;
    height: auto;
    border-radius: 50%;
}

.loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listEnd {
    text-align: center;

    p {
        color: #bfbfbf;
        font-size: 12px;
        padding: 8px 0;
    }
}
