.forgetPassword {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .phone {
        display: flex;
        width: 100%;
        gap: 6px;
        flex-direction: column;

        .input {
            min-height: 44px;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    .submitButton {
        padding-top: 40px;
    }

    .errorMessage {
        color: #ffc42d;
        font-size: 10px;
        font-weight: 400;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
