.normalDialog {
    width: 300px;
    padding: 16px;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 24px;

        span {
            color: #222;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .footer {
        display: flex;
        align-items: center;
        gap: 10px;

        > div {
            flex: 1;
            font-size: 14px;
            font-weight: 500;
            padding: 5px 20px;
            border-radius: 50px;
            text-align: center;
        }

        .close {
            color: #8d8d8d;
            border: 1px solid #bfbfbf;
        }

        .confirm {
            color: #4489ff;
            border: 1px solid #4489ff;
        }
    }
}
