.button {
    padding-left: 12px;
}

.article {
    padding: 0 12px;
    background: #fff;
}

.loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listEnd {
    text-align: center;

    p {
        color: rgb(169 170 171);
        font-size: 12px;
        padding: 8px 0;
    }
}
