.banner {
    display: block;
    margin: auto;
}

.filterButton {
    padding-left: 12px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    color: #4489ff;
    font-size: 14px;

    img {
        height: 16px;
        width: 16px;
    }
}
