.article {
    margin-top: 12px;
}

.articleCard {
    position: relative;
    padding: 12px 12px 0;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #dadada;

    .result {
        position: absolute;
        top: 3px;
        right: 3px;
    }

    .unlockStatus {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 30px solid #e6effe;
        border-right: 30px solid transparent;

        .unlocked {
            position: absolute;
            top: -31px;
            left: 1px;
        }
    }

    .user {
        display: flex;

        .userInfo {
            flex-grow: 1;

            .userName {
                display: flex;
                align-items: center;
                gap: 6px;
                font-size: 12px;
                font-weight: 500;
                color: #979797;

                .plan {
                    font-size: 12px;
                    font-weight: 500;
                    color: #8d8d8d;
                    padding: 2px 4px;
                    border-radius: 4px;
                    background: #f3f3f3;
                    border: 1px solid #bfbfbf;
                }
            }

            .tagsContainer {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;

                :global(.baseTag) {
                    margin-right: 0;
                }

                :global(.tagLayout) {
                    margin-right: 0;
                }
            }
        }
    }

    .leagueTeam {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;

        span {
            color: #8d8d8d;
            font-size: 12px;
            font-weight: 500;

            &:first-child {
                color: #276ce1;
            }
        }

        .line {
            color: #d9d9d9;
        }
    }

    .title {
        font-size: 14px;
        font-weight: 600;
        margin-top: 6px;
        color: #4a4a4a;
        word-break: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        max-height: 50px;
    }

    .game {
        padding: 8px 0;
        position: relative;
    }

    .postTime {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        color: #979797;
        padding: 0 0 12px;

        .seen {
            display: flex;
            align-items: center;
            gap: 8px;

            span {
                display: flex;
                align-items: center;
                gap: 2px;
                font-size: 12px;
                font-weight: 500;
                color: #8d8d8d;
            }

            .line {
                color: #d9d9d9;
            }
        }
    }
}

.loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listEnd {
    text-align: center;

    p {
        color: #bfbfbf;
        font-size: 12px;
        padding: 8px 0;
    }
}
