.goalRangeChart {
    width: 100%;
}

.chartContainer {
    width: 100%;
    height: 200px;
}

.activedTooltip {
    color: #fff;
    background-color: #666;
    padding: 5px;
    border-radius: 3px;
}
